/*弹层*/
.mask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index: 111111;
	display: none;
}


/*地图弹层*/
.san-maps{
	position: fixed;
	z-index: 111111;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	/*text-align: center;*/
	display: none;
	overflow: hidden;
}
#maps{
	width: 100%;
	height: 100%;
	background: #fff;
}
.maps-box{
	height: 100%;
	overflow: hidden;
}
.san-mbox{
	position: relative;
	height: 100%;
}
.san-mnav{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	padding: 0 25px;
	background: #fff;
}
.san-mnav span{
	display: inline-block;
}
.san-mnav span:nth-child(1){
	float: left;
}
.san-mnav span:nth-child(2){
	float: right;
	cursor: pointer;
	/*transition: 0.3s;*/
	opacity: 0.5;
}
.san-mnav span.san-close:hover{
	opacity: 1;
}
.maps-box .san-cons{
	position: absolute;
}
.maps-box .san-iframes{
	/*transition: 0.7s;*/
	width: 80%;
	height: 91.9%;
	position: relative;
}
.maps-box .san-info{
	/*transition: 0.5s;*/
	border-left: 1px solid #ddd;
	width: 20%;
	height: 100%;
	top: 0;
	right: 0;
}

/*景区标题介绍*/
.san-ibox h4,
.san-ibox .ilist-title{
	height: 35px;
	line-height: 35px;
}
.san-ibox h4,.san-itxt,.san-ilist{
	padding:0 15px;
}
.san-ibox .san-itxt{
	line-height: 25px;
	color: #555;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.san-ibox .ilist-title span,
.ilist-title{
	font-weight: bold;
}
.san-ibox .ilist-title a{
	display: none;
}
/*附近选择*/
.san-ibox .ilist-btns,.ilist-lines-btns{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.san-ibox .ilist-btns a,.ilist-lines-btns a{
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	color: #555;
	width: 33.33%;
	text-align: center;
	border: 1px solid #ddd;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
}
.san-ibox .ilist-btns a:hover,
.san-ibox .ilist-btns a.active,
.ilist-lines-btns a:hover,
.ilist-lines-btns a.active{
	border: 1px solid #8e8e8e;
}
/*线路查询*/
.ilist-lines-btns{
	display: none;
}
.san-ibox .ilist-info{
	text-align: center;
	margin-top:10px;
}
.san-ibox .ilist-info input{
	width: 80%;
	height: 25px;
	line-height: 25px;
	margin-bottom: 5px;
}
.san-ibox .ilist-info a{
	display: inline-block;
	text-align: center;
	width: 60px;
	background: #00a4b3;
	color: #fff;
	height: 25px;
	line-height: 25px;
	padding:0 15px;
	margin:10px 0;
}
.ilist-lines-info .lines-news{
	display: none;
}
.ilist-lines-info .lines-news.active{
	display: block;
}
/*周边查询结果*/
.san-info{
	position: relative;
	transition:transform  0.5s;
}
.ilist-icontent{
	padding: 15px 0;
	line-height: 35px;
	position: relative;
}
.ilist-icontent .ilist-inews{
	display: none;
}
.ilist-icontent .inews-head{
	background: #f5f5f5;
}
.ilist-icontent  .inews-list{
	height: 500px;
	overflow: auto;
}
.san-iclose{
	position: absolute;
	font-size: 25px;
	color: #555;
	width: 30px;
	height: 50px;
	line-height: 50px;
	background: #eee;
	text-align: center;
	right: 0px;
	top: 50%;
	margin-top:-25px;
}
/*地图左侧显示隐藏*/
.san-info.active{
	right: -100%;
}
.san-iframes.active{
	width: 100%;
}
.san-ibox .ilist-title a.active{
	display: inline-block;
}