img {
    width: 100%;
}
/*首页动画*/
.homebanner{
	position: relative;
	width: 100%;
	height: 100%;
	transition: all ;
}
/*轮播图*/

/*轮播图*/
.wraper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
}
.wraper-box,.pic-content{
	position: relative;
	height: 100%;
	width: 100%;
}
.wraper-list{
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
}
.wraper-list.active{
	display: block;
}
.wraper-box .wzbox{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
/*文字box*/
.pic-txtbox{
	position: absolute;
	width: 50%;
	height: auto;
	right: 30%;
	top: 25%;
}
.pic-circle{
	position: relative;
}
.pic-wz{
	width: 31px;
	height: 31px;
	margin:5px;
}
.pic-wz span{
	display: block;
	width: 100%;
	height: 100%;
}
.pic-lines{
	position: relative;
}
.pic-lines:after{
	display: block;
	position: absolute;
	content: '';
	border-radius: 50%;
	background: #9e4f68;
	width: 7px;
	height: 7px;
}
.pic-cloud{
	position: absolute;
	width: 61px;
	height: 82px;
	background: url(../../images/web/cloud.png) center no-repeat;
	background-size: cover;
}
/*第一屏，情醉千年*/
.wraper-pc1 .pic-content{
	background: url(../../images/web/banner-bg1.jpg) center no-repeat;
	background-size: cover;
}
.wraper-pc1 .pc1-qzimg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../../images/web/p1-01.png) bottom no-repeat;
	background-size: 100% auto;
}
/*云*/
.pc1-qzcloud{
	right: 24%;
	top: 35px;
}
/*文字圈*/
.pc1-qzcrl,.pc3-cfcrl{
	width: 41px;
	float: right;
	padding-top: 115px;
}
.pc1-qzcrl .pic-lines,
.pc3-cfcrl .pic-lines{
	border-left: 1px dashed #9e4f68;
	height: 60px;
	left: 50%;
	margin-left: -1px;
}
.pc1-qzcrl .pic-lines:after,
.pc3-cfcrl .pic-lines:after{
	top: 50%;
	left: -4px;
	margin-top: -4px;
}
.pic-bai span{
	background:url(../../images/web/bai.png) center no-repeat;
	background-size: cover;
}
.pic-yi span{
	background:url(../../images/web/yi.png) center no-repeat;
	background-size: cover;
}
.pic-yuan span{
	background:url(../../images/web/yuan.png) center no-repeat;
	background-size: cover;
}
.pic-yun span{
	background:url(../../images/web/yun.png) center no-repeat;
	background-size: cover;
}
.pic-wei span{
	background:url(../../images/web/wei.png) center no-repeat;
	background-size: cover;
}
/*文字大图*/
.pc1-desc,.pc3-desc{
	width: 112px;
	height: 403px;
	overflow: hidden;
	float: right;
	margin:0 15px;
}
.pic2-infotxts,.pic-infotxts{
	color: #8d7f73;
}
.pic-infotxts{
	writing-mode: tb-rl;
	-webkit-writing-mode:vertical-rl;
	writing-mode: vertical-rl;
	float: right;
	padding-top: 115px;
}
.pic-infotxts .pic-infoeg,
.pic-infotxts .pic-infoname{
	margin-right: 10px;
}
.pic-infotxts .pic-infots span{
	margin-right: 6px;
}
.pic-infoeg{
	width: 12px;
	height: 229px;
}
.pic-infoname{
	width: 28px;
	height: 232px;
}
.pic-infots span{
	display: block;
}
.pic-infots .pic-infoaddr{
	background: #9e4f68;
	color: #fff;
	display: inline-block;
	padding: 5px 0;
}
/*第二屏，钟灵毓秀*/
.wraper-pc2 .pic-content{
	background: url(../../images/web/banner-bg2.jpg) center no-repeat;
	background-size: cover;
}
.wraper-pc2 .pc2-zlimg,
.wraper-pc3 .pc3-cfimg{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.wraper-pc2 .pc2-timg{
	background: url(../../images/web/p2-zt.png) 30% top no-repeat;
	top: -10%;
}
.wraper-pc2 .pc2-rimg{
	background: url(../../images/web/p2-zr.png) right 48% no-repeat;
	right: -10%;
}
.pc2-zltbox{
	top: 30%;
    right: 25%;
    width: auto;
}
/*文字圈*/
.pc2-zlcrl{
	height: 41px;
	top: 40px;
}
.pc2-zlcrl ul li{
	float: left;
}
.pc2-zlcrl .pic-lines{
	width: 40px;
	border-top: 1px dashed #9e4f68;
	margin-top: 5%;
}
.pc2-zlcrl .pic-lines:after{
	left: 50%;
	top: -4px;
	margin-left: -4px;
}
.pc2-eg{
	width: 230px;
	height: 13px;
}
.pc2-name{
	width: 240px;
	height: 28px;
}
.pic2-infotxts .pic2-infoname{
	margin-top: 10px;
}
.pic2-infotxts .pc2-infots{
	margin-top: 5px;
}
.pc2-infots{
	line-height: 28px;
}
.pc2-infots span.pic-infoaddr{
	padding: 0 5px;
}
/*boat*/
.pic-boat{
	position: absolute;
	width: 300px;
	height: 128px;
	background: url(../../images/web/p2-boat.png) center no-repeat;
	background-size: cover;
	right: -140px;
    bottom: 18%;
}
/*春风化雨*/
.wraper-pc3 .pic-content{
	background: url(../../images/web/banner-bg3.jpg) center no-repeat;
	background-size: cover;
}
.wraper-pc3 .pc3-cfimg{
	background: url(../../images/web/flower.png) right 25% no-repeat;
	right: -10%;
}
.pc3-cftbox{
	right: 45%;
}
.pc3-cfcloud{
    right: -3%;
    top: 19%;
}
/*三屏分页*/
.wraper-pages{
	position: absolute;
	bottom: 2%;
	left: 20px;
	color: #9a8e84;
	z-index: 100;
}
.wraper-nownum{
	font-size: 40px;
	color: #9e4f68;
}
.wraper-nowdesc .wraper-destxt{
	display: none;
}
.wraper-nowdesc .wraper-destxt.active{
	display: block;
}
.wraper-nowdesc{
	height: 20px;
	margin-bottom: 10px;
}
/*左右*/
.wraper-dir .wraper-tips,
.news-dir .news-mao{
	float: left;
	border:1px solid #9a8e84;
	color: #d1c6b4;
	font-size: 24px;
	width: 34px;
	height: 34px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	line-height: 32px;
	font-family: "宋体";
	font-weight: bold;
}
.wraper-dir .wraper-tips:hover{
	background: #fff;
}
.wraper-next{
	margin-left: 5px;
}






/*anitme*/
/*圈圈字*/
.pc1-qzcrl,.pc2-zlcrl,.pc3-cfcrl{
	opacity: 0;
	animation:yishow 0.5s ease forwards;
	animation-delay: 0.5s;
}
.pc1-qzimg,.pc1-desc,.pc3-desc{
	animation: opcityCs 1.5s ease-out forwards;
}
.wraper-pc1 .pic-bai,
.wraper-pc3 .pic-bai{
	-webkit-transform: translateY(100PX);
	-ms-transform: translateY(100PX);
	-o-transform: translateY(100PX);
	transform: translateY(100PX);
	opacity: 0;
	animation: transYb 1s ease-out forwards;
	animation-delay: 0.5s;
}
.wraper-pc1 .pic-yuan,
.wraper-pc3 .pic-wei{
	-webkit-transform: translateY(-100PX);
	-ms-transform: translateY(-100PX);
	-o-transform: translateY(-100PX);
	transform: translateY(-100PX);
	opacity: 0;
	animation: transYt 1s ease-out forwards;
	animation-delay: 0.5s;
}
.pc1-eg,.pc1-name,.pc1-infots span,
.pc3-eg,.pc3-name,.pc3-infots span{
	opacity: 0;
	animation:transXl 0.7s ease-out forwards;
}
.pc2-eg,.pc2-name,.pc2-infots span{
	opacity: 0;
	animation:transYlt 0.7s ease-out forwards;
}
.pc1-eg,.pc2-eg,.pc3-eg{
	animation-delay: 0.7s;
}
.pc1-name,.pc2-name,.pc3-name{
	animation-delay: 0.8s;	
}
.pc1-infots .trasXl0,
.pc2-infots .trasXl0,
.pc3-infots .trasXl0{
	animation-delay: 0.9s;		
}
.pc1-infots .trasXl1,
.pc2-infots .trasXl1,
.pc3-infots .trasXl1{
	animation-delay: 1s;		
}
.pc1-infots .trasXl2,
.pc2-infots .trasXl2,
.pc3-infots .trasXl2{
	animation-delay: 1.1s;		
}
.pc1-infots .trasXl3,
.pc2-infots .trasXl3,
.pc3-infots .trasXl3{
	animation-delay: 1.2s;		
}
.pc1-infots .trasXl4,
.pc2-infots .trasXl4,
.pc3-infots .trasXl4{
	animation-delay: 1.3s;		
}
/*钟灵毓秀*/
/*竹子*/
.wraper-pc2 .pc2-timg{
	animation:zhuTop 1s ease forwards;
	animation-delay: 0.5s;
}
.wraper-pc2 .pc2-rimg,
.wraper-pc3 .pc3-cfimg{
	animation:zhuRight 1s ease forwards;
	animation-delay: 0.5s;
}
/*文字圈圈*/
.pc2-zlcrl .pic-bai,.pc2-desc{
	-webkit-transform: translateX(80PX);
	-ms-transform: translateX(80PX);
	-o-transform: translateX(80PX);
	transform: translateX(80PX);
	opacity: 0;
	animation: trasXlz 1s ease forwards;
	animation-delay:0.8s;
}
.pc2-desc{
	animation-delay: 0.7s;
}
.pc2-zlcrl .pic-yun{
	-webkit-transform: translateX(80PX);
	-ms-transform: translateX(80PX);
	-o-transform: translateX(80PX);
	transform: translateX(80PX);
	opacity: 0;
	animation: trasXrz 1s ease forwards;
	animation-delay:0.8s;
}




/*白字上*/
@-webkit-keyframes transYb {
	0%{
		-webkit-transform: translateY(100PX);
		-ms-transform: translateY(100PX);
		-o-transform: translateY(100PX);
		transform: translateY(100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@-o-keyframes transYb {
	0%{
		-webkit-transform: translateY(100PX);
		-ms-transform: translateY(100PX);
		-o-transform: translateY(100PX);
		transform: translateY(100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@-moz-keyframes transYb {
	0%{
		-webkit-transform: translateY(100PX);
		-ms-transform: translateY(100PX);
		-o-transform: translateY(100PX);
		transform: translateY(100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@keyframes transYb {
	0%{
		-webkit-transform: translateY(100PX);
		-ms-transform: translateY(100PX);
		-o-transform: translateY(100PX);
		transform: translateY(100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
/*白字横向*/
@-webkit-keyframes trasXlz {
	0%{
		-webkit-transform: translateX(80PX);
		-ms-transform: translateX(80PX);
		-o-transform: translateX(80PX);
		transform: translateX(80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
@-o-keyframes trasXlz {
	0%{
		-webkit-transform: translateX(80PX);
		-ms-transform: translateX(80PX);
		-o-transform: translateX(80PX);
		transform: translateX(80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
@-moz-keyframes trasXlz {
	0%{
		-webkit-transform: translateX(80PX);
		-ms-transform: translateX(80PX);
		-o-transform: translateX(80PX);
		transform: translateX(80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
@keyframes trasXlz {
	0%{
		-webkit-transform: translateX(80PX);
		-ms-transform: translateX(80PX);
		-o-transform: translateX(80PX);
		transform: translateX(80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
/*韵字横向*/
@-webkit-keyframes trasXrz {
	0%{
		-webkit-transform: translateX(-80PX);
		-ms-transform: translateX(-80PX);
		-o-transform: translateX(-80PX);
		transform: translateX(-80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
@-o-keyframes trasXrz {
	0%{
		-webkit-transform: translateX(-80PX);
		-ms-transform: translateX(-80PX);
		-o-transform: translateX(-80PX);
		transform: translateX(-80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
@-moz-keyframes trasXrz {
	0%{
		-webkit-transform: translateX(-80PX);
		-ms-transform: translateX(-80PX);
		-o-transform: translateX(-80PX);
		transform: translateX(-80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
@keyframes trasXrz {
	0%{
		-webkit-transform: translateX(-80PX);
		-ms-transform: translateX(-80PX);
		-o-transform: translateX(-80PX);
		transform: translateX(-80PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0PX);
		-ms-transform: translateX(0PX);
		-o-transform: translateX(0PX);
		transform: translateX(0PX);
		opacity: 1;
	}
}
/*依字剪影*/
@-webkit-keyframes yishow {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-o-keyframes yishow {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes yishow {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes yishow {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*味,源下*/
@-webkit-keyframes transYt {
	0%{
		-webkit-transform: translateY(-100PX);
		-ms-transform: translateY(-100PX);
		-o-transform: translateY(-100PX);
		transform: translateY(-100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@-o-keyframes transYt {
	0%{
		-webkit-transform: translateY(-100PX);
		-ms-transform: translateY(-100PX);
		-o-transform: translateY(-100PX);
		transform: translateY(-100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@-moz-keyframes transYt {
	0%{
		-webkit-transform: translateY(-100PX);
		-ms-transform: translateY(-100PX);
		-o-transform: translateY(-100PX);
		transform: translateY(-100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@keyframes transYt {
	0%{
		-webkit-transform: translateY(-100PX);
		-ms-transform: translateY(-100PX);
		-o-transform: translateY(-100PX);
		transform: translateY(-100PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
/*放大1.1*/
@-webkit-keyframes opcityCs {
	0%{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@-o-keyframes opcityCs {
	0%{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes opcityCs {
	0%{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes opcityCs {
	0%{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
/*小文字*/
@-webkit-keyframes transXl {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-o-keyframes transXl {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-moz-keyframes transXl {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes transXl {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes transYlt {
	0%{
		-webkit-transform: translateY(20PX);
		-ms-transform: translateY(20PX);
		-o-transform: translateY(20PX);
		transform: translateY(20PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@-o-keyframes transYlt {
	0%{
		-webkit-transform: translateY(20PX);
		-ms-transform: translateY(20PX);
		-o-transform: translateY(20PX);
		transform: translateY(20PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@-moz-keyframes transYlt {
	0%{
		-webkit-transform: translateY(20PX);
		-ms-transform: translateY(20PX);
		-o-transform: translateY(20PX);
		transform: translateY(20PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}
@keyframes transYlt {
	0%{
		-webkit-transform: translateY(20PX);
		-ms-transform: translateY(20PX);
		-o-transform: translateY(20PX);
		transform: translateY(20PX);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0PX);
		-ms-transform: translateY(0PX);
		-o-transform: translateY(0PX);
		transform: translateY(0PX);
		opacity: 1;
	}
}


/*竹子*/
@-webkit-keyframes zhuTop {
	0%{
		opacity: 0;
		top: -30%;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}
@-o-keyframes zhuTop {
	0%{
		opacity: 0;
		top: -30%;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}
@-moz-keyframes zhuTop {
	0%{
		opacity: 0;
		top: -30%;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}
@keyframes zhuTop {
	0%{
		opacity: 0;
		top: -30%;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}

@-webkit-keyframes zhuRight {
	0%{
		opacity: 0;
		right: -20%;
	}
	100%{
		opacity: 1;
		right: 0;
	}
}
@-o-keyframes zhuRight {
	0%{
		opacity: 0;
		right: -20%;
	}
	100%{
		opacity: 1;
		right: 0;
	}
}
@-moz-keyframes zhuRight {
	0%{
		opacity: 0;
		right: -20%;
	}
	100%{
		opacity: 1;
		right: 0;
	}
}
@keyframes zhuRight {
	0%{
		opacity: 0;
		right: -20%;
	}
	100%{
		opacity: 1;
		right: 0;
	}
}








/*关于景区样式*/
.ind-about{
	position: relative;
	width: 100%;
	height: auto;
	background:#fcfdf7;
	overflow: hidden;
	z-index: 1500;
	transition: all 0.8s;
	background: url(../../images/web/gk-bg.png);
}
.ind-about .nrbox{
	position: relative;
	width: calc(100% - 80px);
	max-width: 1300px;
	height: auto;
	margin: 5% 0;
	padding: 55px 0 60px 0;
	left: 50%;
	-webkit-transform:translateX(-50%);
	-ms-transformtranslateX(-50%);
	transform:translateX(-50%);
}

.v-title{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	color: #a68a72;
	transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.v-title.active{
	opacity: 1;
	transition-delay: 0s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}
.v-title .v-name{
	font-size: 26px;
	color: #4f341e;
	display: inline-block;
}
.v-title .v-name span{
	border-right: 1px dashed rgba(148,142,138,.5);
	padding:0 10px;
	margin-left: -6px;
	font-weight: 700;
	font-family: fznb;
}
.v-title .v-name span:first-child{
	border-left: 1px dashed  rgba(148,142,138,.5);
}
.v-title .v-small{
	display: inline-block;
	font-size: 12px;
	line-height: 13px;
	position: relative;
	text-align: left;
}
.v-title .v-small span{
	position: relative;
	top: 3px;
}

.ind-about .vpic{
	position: relative;
	width: 100%;
	height: auto;
	left: 0;
	transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.9);
}
.ind-about .vpic.active{
	opacity: 1;
	transition-delay: 0.1s;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.ind-about .vpic img{
	width: 100%;
	height: auto;
}

.ind-about .vtit{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-family: fznb;
	font-size: 30px;
	line-height: 30px;
	color: #8d7560;
	text-align: center;
	transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2);
}
.ind-about .vtit.active{
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.ind-about .vinfo{
    transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:translateY(20%);
	-ms-transform:translateY(20%);
	transform:translateY(20%);
}
.ind-about .vinfo.active{
	opacity: 1;
	transition-delay: 0.3s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}
.ind-about .vinfo{
	position: relative;
	width: 100%;
	height: 140px;
	line-height: 28px;
	/*line-height: 36px;
	font-family: "仿宋_GB2312";
	font-size: 21px;*/
	display: -webkit-box;
    display: -ms-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
/*.ind-about .vinfo p{
	position: relative;
	width: 100%;
	height: 140px;
	line-height: 28px;
	line-height: 36px;
	font-family: "仿宋_GB2312";
	font-size: 21px;
	display: -webkit-box;
    display: -ms-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}*/
.ind-about .bmorebox{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	text-align: center;
	opacity: 0;
	transition: all 0.8s ease-out;
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
}
.ind-about .bmorebox.active{
	opacity: 1;
	transition-delay: 0.4s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}


/*新闻样式*/
.ind_news {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 5;
    background: url(../../images/web/news-bg.jpg) top left no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.ind_news .cenbox {
    position: relative;
    width:calc(100% - 80px);
    max-width: 1300px;
    height: auto;
    z-index: 100;
    margin: 5% auto;
    padding: 0px 0 0 0;
    z-index: 5;
}
.ind_news .cenbox .b-titbox {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:translateY(-80%);
	-ms-transform:translateY(-80);
	transform:translateY(-80);
} 
.ind_news .cenbox .b-titbox.active {
	opacity: 1;
	transition-delay: 0s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}  




.ind_news .tjnewsbox {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
}

.tjnewsbox .leftbox,.ind_news .tjnewsbox .rightbox {
    background:url(../../images/web/gk-bg.png);
}

.ind_news .bmorebox{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	text-align: center;
}
.ind_news .bmorebox .bmore{
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	opacity: 0;
	transition: all 0.8s ease-out;
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
}
.ind_news .bmorebox .bmore.active{
	opacity: 1;
	transition-delay: 0.4s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}


/*景区景点*/
.ind-senic{
	position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 5;
    background: url(../../images/web/view-bg.jpg) top left no-repeat;
    background-size:cover;
}
.ind-senic .cenbox {
    position: relative;
    width:calc(100% - 80px);
    max-width: 1300px;
    height: auto;
    z-index: 100;
    margin: 5% auto;
    padding: 0px 0px 0px 0px;
    z-index: 5;
}
.ind-senic .cenbox .b-titbox {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    text-align: center;
    opacity: 0;
	transition: all 0.8s ease-out;
	-webkit-transform:scale(1.5);
	-ms-transform:scale(1.5);
	transform:scale(1.5);
}
.ind-senic .cenbox .b-titbox.active {
    opacity: 1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}   
.ind-senic .by-name,.ind-chwl .by-name,.ind-ser .by-name  {
    color: #5e4733;
}
.ind-senic .by-name span,.ind-chwl .by-name span,.ind-ser .by-name span{
    color: #9e4f68;
}
.ind-senic .by-name,.ind-chwl .by-name,.ind-ser .by-name{
    background: url(../../images/web/title1.png) repeat-x;
}

.ind-senic .cenbox .info {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 75px;
    margin-top: 10px;
    line-height: 25px;
    text-align: center;
    opacity: 0;
	transition: all 0.8s ease-out;
	-webkit-transform:translateY(20%);
	-ms-transform:translateY(20%);
	transform:translateY(20%);
}
.ind-senic .cenbox .info.active {
    opacity: 1;
    transition-delay: 0.15s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
} 

.ind-senic .cenbox .btnbox{
	position: relative;
	width: 100%;
	height: 70px;
	margin-top: 30px;
	text-align: center;
	opacity: 0;
	transition: all 0.8s ease-out;
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
}
.ind-senic .cenbox .btnbox.active{
	opacity: 1;
	transition-delay: 0.5s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}
.ind-senic .cenbox .btnbox li{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100%;
	vertical-align: top;
}
.ind-senic .cenbox .btnbox .line{
	height: 20px;
	border-top: 1px dashed #bcaa99;
	top: 25px;
}
.ind-senic .cenbox .btnbox .btn{
	width: 60px;
}
.ind-senic .cenbox .btnbox .btn .icobox{
	position: relative;
	width: 50px;
	height: 50px;
	left: 5px;
	border:1px solid #bcaa99;
	border-radius: 50%;
	font-size: 35px;
	line-height: 48px;
	text-align: center;
	transition: all 0.3s;
	color: #8d7560;
}
.ind-senic .cenbox .btnbox .btn .icobox.pic{
	font-size: 30px;
}
.ind-senic .cenbox .btnbox .btn:hover .icobox{
	border:1px solid #9e4f68;
	background: #9e4f68;
	color: #fff;
}
.ind-senic .cenbox .btnbox .btn .zibox{
	position: relative;
	width: 100%;
	height: 20px;
	left: 0px;
	font-size: 14px;
	line-height:25px;
	text-align: center;
	transition: all 0.3s;
	color: #8d7560;
}
.ind-senic .cenbox .btnbox .btn:hover .zibox{
	color: #9e4f68;
}

.ind-senic .cenbox .jdboxs{
	position: relative;
    width: 100%;
    height: auto;
    margin-top:30px ;
    overflow: hidden;
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(-10%);
	-ms-transform:translateY(-10%);
	transform:translateY(-10%);
}
.ind-senic .cenbox .jdboxs.active{
    opacity: 1;
    transition-delay: 0.35s;
    -webkit-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%);
}

.solution-swiper {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	opacity: 1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}

.solution-swiper ul{
	width: 10000%;
	height:100%;
}

.solution-swiper ul li{
	position: relative;
	float: left;
	width: 0.24%;
	height:auto;
	margin-right:0.005% ;
	margin-left:0.005% ;
	transition: all 0.4s;
	overflow: hidden;
}

.ind-senic  .bmorebox {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    opacity: 0;
    transition: all 0.8s ease-out;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.ind-senic .bmorebox.active {
    opacity: 1;
    transition-delay: 0.4s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*吃喝玩乐*/
.ind-chwl {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 5;
    background: url(../../images/web/plays-bg.jpg) top left no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.ind-chwl .cenbox {
    position: relative;
    width:calc(100% - 80px);
    max-width: 1300px;
    height: auto;
    z-index: 100;
    margin: 5% auto;
    padding: 230px 0 1% 0;
    z-index: 5;
}
.ind-chwl .cenbox .nrbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: #f2ede6;
    transition: all 0.5s ease-out;
    opacity: 0;
}
.ind-chwl .cenbox .nrbg.active{
    opacity: 1;
}


.ind-chwl .cenbox .b-titbox {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 50px;
    text-align: center;
    z-index: 20;
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(-70%);
	-ms-transform:translateY(-70%);
	transform:translateY(-70%);
}
.ind-chwl .cenbox .b-titbox.active {
    opacity: 1;
    transition-delay: 0.2s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}

.ind-chwl .cenbox .info {
    position: absolute;
    width: 100%;
    height: 75px;
    top: 130px;
    line-height: 25px;
    text-align: center;
    z-index: 20;
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(30%);
	-ms-transform:translateY(30%);
	transform:translateY(30%);
}
.ind-chwl .cenbox .info.active{
    opacity: 1;
    transition-delay: 0.35s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}

.ind-chwl .cenbox .line{
	position: absolute;
	width: 100%;
	height: 15px;
	border-top: 1px dashed #bcaa99;
	top: 200px;
	z-index: 20;
	opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(-30%);
	-ms-transform:translateY(-30%);
	transform:translateY(-30%);
}
.ind-chwl .cenbox .line.active{
	opacity: 1;
    transition-delay: 0.5s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}

.ind-chwl .cenbox .line:after{
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left:50%;
	margin-left: -13px;
	top: -12px;
	background: #9e4f68;
	border-radius: 50%;
}
.ind-chwl .cenbox .line:before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	left:50%;
	margin-left: -6px;
    top: -7px;
	z-index: 10;
	transform: rotate(225deg);
}

.con-plays{
	position: relative;
	height: 345px;
	padding-left: 1%;
	z-index: 10;
	opacity: 0;
    transition: all 0.8s ease-out;
    /*backdrop-filter: blur(5px);*/
    filter: blur(5px);
	-webkit-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.9);
}
.con-plays.active{
	opacity: 1;
	filter: blur(0px);
	transition-delay: 0.35s;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.con-plays .plays-box{
	height: 100%;
	overflow: hidden;
	position: relative;
}
.con-plays .plays-info{
	width: 24%;
	height: 100%;
	margin-right: 1%;
	float: left;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.con-plays .plays-info:nth-of-type(even){
	overflow: hidden;
} 
.con-plays .plays-info:nth-of-type(even).active{
	overflow: hidden;
} 
.con-plays .plays-info:nth-of-type(odd) .plays-box{
	height: 49%;
    margin-bottom: 8px;
}
.con-plays .plays-info:nth-child(4){
	margin-right: 0;
}
.con-plays .plays-info .plays-info-list{
	width: 100%;
	height: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    transform: scale(1);
}
.con-plays .plays-info span.plays-title{
	display: block;
	position: absolute;
	height: 99px;
	width: 42px;
	top: 15px;
}
.con-plays .plays-nearby span.plays-title,
.con-plays .plays-shop span.plays-title{
	height: 88px;
}
.con-plays .plays-stay span.plays-title{
	width: 109px;
	height:44px; 
	top: 10px;
}
.con-plays .plays-enter span.plays-title,
.con-plays .plays-gogo span.plays-title{
	height: 105px;
}
/*吃喝玩乐文本*/
.plays-info .plays-txt{
	position: absolute;
	color: #747474;
	height: 100%;
	width: 45%;
	background: rgba(255,255,255,0.8);
	padding:15px;
	opacity: 0;
	transition: 0.5s;
	overflow: hidden;
}
.plays-info:nth-of-type(even) .plays-txt{
	height: 35%;
	width: 100%;
	bottom: 0;
}
.plays-info .plays-txt ul li,.plays-info .plays-txt ul li a{
	height: 25px;
	line-height: 25px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	color: #6b625a;
}
.plays-info .plays-txt ul li:hover,.plays-info .plays-txt ul li a:hover{
	color: #9e4f68;
}
/*文本动画*/
.con-plays .plays-left-animate .plays-txt{
	transform:translateX(-100%);
}
.con-plays .plays-right-animate .plays-txt{
	transform:translateX(100%);
}
.con-plays .plays-info:nth-of-type(even) .plays-txt{
	transform: translateY(100%);
}
.con-plays .plays-left-animate:hover .plays-txt{
	transform:translateX(0%);
	opacity: 1;
}
.con-plays .plays-right-animate:hover .plays-txt{
	transform:translateX(0%);
	opacity: 1;
}
.con-plays .plays-info:nth-of-type(even):hover .plays-txt{
	transform: translateY(0%);
	opacity: 1;
}
/*美食*/
.con-plays .plays-info .plays-bg{
	transition: 0.5s;
	width: 100%;
	height: 100%;
	transform: scale(1);
	position: absolute;
}.con-plays .plays-info .plays-scale:hover .plays-bg{
	transform: scale(1.1);
}
.con-plays .plays-info .plays-foods .plays-bg{
	background: url(../../images/web/pic-03.jpg) center no-repeat;
	background-size: cover;
}
.con-plays .plays-info .plays-foods span.plays-title{
	background: url(../../images/web/zi-01.png) center no-repeat;
	background-size:auto;
	left: 10px;
}
.con-plays .plays-info .plays-foods .plays-txt{
	right: 0;
}
/*出行*/
.con-plays .plays-info .plays-gogo .plays-bg{
	background: url(../../images/web/pic-04.jpg) center no-repeat;
	background-size: cover;
}
.con-plays .plays-info .plays-gogo span.plays-title{
	background: url(../../images/web/zi-02.png) center no-repeat;
	background-size: auto;
	right: 10px;
}
/*住宿*/
.con-plays .plays-stay .plays-bg{
	background: url(../../images/web/pic-05.jpg) center no-repeat;
	background-size: cover;
}
.con-plays .plays-stay span.plays-title{
	background: url(../../images/web/zi-03.png) center no-repeat;
	background-size: auto;
	left: 10px;
}
/*周边*/
.con-plays .plays-info .plays-nearby .plays-bg{
	background: url(../../images/web/pic-06.jpg) center no-repeat;
	background-size: cover;
}
.con-plays .plays-info .plays-nearby span.plays-title{
	background: url(../../images/web/zi-04.png) center no-repeat;
	background-size:auto;
	right: 10px;
}
/*购物*/
.con-plays .plays-info .plays-shop .plays-bg{
	background: url(../../images/web/pic-07.jpg) center no-repeat;
	background-size: cover;
}
.con-plays .plays-info .plays-shop span.plays-title{
	background: url(../../images/web/zi-05.png) center no-repeat;
	background-size:auto;
	left: 10px;
}
.con-plays .plays-info .plays-shop .plays-txt{
	right: 0;
}
/*旅游*/
.con-plays .plays-enter .plays-bg{
	background: url(../../images/web/pic-08.jpg) center no-repeat;
	background-size: cover;
}
.con-plays .plays-enter span.plays-title{
	background: url(../../images/web/zi-06.png) center no-repeat;
	background-size: auto;
	right: 10px;
}



/*旅游服务*/
.ind-ser{
	position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 5;
    background: url(../../images/web/gk-bg.png);
    background-size:cover;
}
.ind-ser .cenbox {
    position: relative;
    width:calc(100% - 80px);
    max-width: 1300px;
    height: auto;
    z-index: 100;
    margin: 5% auto;
    padding: 150px 0px 0px 0px;
    z-index: 5;
}
.ind-ser .cenbox .b-titbox {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:scale(1.3);
	-ms-transform:scale(1.3);
	transform:scale(1.3);
}
.ind-ser .cenbox .b-titbox.active {
    opacity:1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.ind-ser .cenbox .line{
	position: absolute;
	width: 100%;
	height: 15px;
	border-top: 1px dashed #bcaa99;
	top: 100px;
	opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(-70%);
	-ms-transform:translateY(-70%);
	transform:translateY(-70%);
}
.ind-ser .cenbox .line.active{
	opacity: 1;
    transition-delay: 0.2s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}
.ind-ser .cenbox .line:after{
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left:50%;
	margin-left: -13px;
	top: -12px;
	background: #9e4f68;
	border-radius: 50%;
}
.ind-ser .cenbox .line:before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	left:50%;
	margin-left: -6px;
    top: -7px;
	z-index: 10;
	transform: rotate(225deg);
}
.ind-ser .cenbox .lytq{
	position: relative;
	width: 100%;
    text-align: center;
    /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);*/
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(70%);
	-ms-transform:translateY(70%);
	transform:translateY(70%);
}
.ind-ser .cenbox .lytq.active{
    opacity: 1;
    transition-delay:0.3s ;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}

.ind-ser .cenbox  .con-mation {
	position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
.ind-ser .cenbox .con-mation.active {
    opacity: 1;
    transition-delay: 0.4s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}
.ind-ser .cenbox  .con-mation ul li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 16%;
}
.ind-ser .cenbox  .con-mation ul li a {
    display: block;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    background: #eee5d9;
    color: #555;
    text-align: center;
    height: 35px;
    line-height: 35px;
    transition: 0.3s;
}
.ind-ser .cenbox  .con-mation ul li a span {
    width: 18px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}
.ind-ser .cenbox  .con-mation ul li:hover a{
	color: #fff;
	background: #9e4f68;
}
.ind-ser .cenbox .otherbox {
    position: relative;
    width: 700px;
    height: 110px;
    margin: 50px auto 0 auto;
    opacity: 0;
    transition: all 0.8s ease-out;
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	transform:scale(0.6);
}
.ind-ser .cenbox .otherbox.active {
    opacity: 1;
    transition-delay: 0.5s;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}

.ind-ser .cenbox .otherbox .telbox {
    position: relative;
    width: auto;
    height: 100%;
    float: left;
}
.ind-ser .cenbox .otherbox .telbox .ico {
    position: relative;
    float: left;
    width: 85px;
    height: 100%;
    background: url(../../images/web/telico.png) left center no-repeat;
    border-right: 1px dashed rgba(150,130,115,.3);
    margin-right: 10px;
}
.ind-ser .cenbox .otherbox .telbox .zi {
    float: left;
    width: auto;
    height: 100px;
    line-height: 27px;
    font-size: 12px;
}
.ind-ser .cenbox .otherbox .telbox.wx {
    float: right;
}
.ind-ser .cenbox .otherbox .telbox .wxewm {
    position: relative;
    float: left;
    width: 110px;
    height: 100%;
    background: rgba(255,255,255,.5);
    /*border: 1px solid rgba(150,130,115,.3);*/
    vertical-align: top;
    margin-right: 10px;
    padding: 3px;
}
.ind-ser .cenbox .otherbox .telbox .wxewm img {
    width: 100%;
    height: 100%;
}

.ind-ser .mapbox {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: -100px;
    z-index: 50;
    border-left: 1px solid rgba(0,153,68,.2);
    -moz-opacity: 0;
    opacity: 0;
    transition: all 0.8s ease;
}
.ind-ser .mapbox.active {
    right: 0;
    -moz-opacity: 1;
    opacity: 1;
    transition-delay: 0.3s;
}
.ind-ser .mapbox #map_details {
    position: absolute;
    width: 100%;
    height: 100%;
}
/*视频弹窗*/
.sp-playbox{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	background: rgba(0,0,0,.9);
	z-index: 3500;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.sp-close{
	position: absolute;
	width: 30px;
	height:30px;
	top: 30px;
	right: 30px;
	cursor: pointer;
	z-index: 111;
	background:url(../../images/web/close1.png) center no-repeat;
	background-size:cover;
}
.video-spbox{
	position: absolute !important;
	width: 100% !important;
	height: 480px !important;
	top: 50% !important;
	margin-top: -240px !important;
	text-align: center !important;
}

.video-spbox video{
	width: 720px !important;
	height: 480px !important;
}
/*广告样式*/
.floatimg{
	position: fixed; 
	top: 0;
	left: 0;
	width:240px; 
	height:auto; 
	z-index:2000;
	display: block;
	background: rgba(255,255,255,.9);
	padding: 5px;
	border-radius: 3px;
}
.floatimg img{
	position: relative;
	width: 100%;
	height: auto;
}
.floatimg .title{
	position: relative;
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1000;
    margin-top: -29px;
    padding: 0 5px;
    background:rgba(0,0,0,.5);
}
.floatimg .info{
	position: relative;
	width: 100%;
	height: auto;
	max-height: 60px;
	line-height: 20px;
	color: #666;
	font-size: 12px;
	display: -webkit-box;
    display: -moz-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.floatimg .floatclose{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	right: 5px;
	background: #796358;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-family: arial;
	z-index: 1;
	cursor: pointer;
}
.floatimg .floatclose:hover{
	color: #ff0;
	background: #900;
}
.bot-ggbox{
	position: fixed;
	width: 240px;
	height: auto;
	right: 0;
	bottom: 0;
	z-index: 3000;
	border-radius:3px ;
	overflow: hidden;
	background: rgba(255,255,255,.9);
	padding-bottom: 5px;
	border: 1px solid rgba(0,0,0,.6);
	transition: all 0.5s;
}
.bot-ggbox .titlebox{
	width: 100%;
	height: 30px;
	background: #e13c06;
}
.bot-ggbox .titlebox .tit{
	float: left;
	width: 200px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	padding-left: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bot-ggbox .titlebox .botgg-close{
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #796358;
	border-radius:50%;
	text-align: center;
	font-family: arial;
	cursor: pointer;
}
.bot-ggbox .titlebox .botgg-close:hover{
	color: #ff0;
}
.bot-ggbox .imgbox{
	width: 230px;
	height: 160px;
	margin: 5px;
}
.bot-ggbox .infobox{
	width: 230px;
	height: auto;
	max-height: 60px;
	font-size: 12px;
	line-height: 20px;
	color: #796358;
	margin: 5px;
	display: -webkit-box;
    display: -moz-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.bot-ggbox .more-bigbox{
	width: 200px;
	height: 25px;
	margin: 10px auto;
}
.bot-ggbox .ggmorebox{
	width: 100px;
	height: 25px;
	border-radius:15px;
	background: #e13c06;
	color: #fff;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
	cursor: pointer;
}
.bot-ggbox .ggmorebox:hover{
	color: #ff0;
}

/*外文版*/
.sen-wenhua{
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 30px;
	text-align: center;
	transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2);
}
.sen-wenhua.active{
	opacity: 1;
	transition-delay: 0.15;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.sen-wenhua li{
	position: relative;
	display: inline-block;
	width: 25%;
	height: 100%;
	text-align: center;
}
.sen-wenhua li .imgbox{
	position: relative;
	width: 190px;
	height: 190px;
	border: 5px solid rgba(255,255,255,.5);
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.sen-wenhua li .imgbox.small{
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}
.sen-wenhua-info{
	position: relative;
    width: 100%;
    height: 140px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    transition: all 0.8s ease-out;
	opacity: 0;
	-webkit-transform:translateY(20%);
	-ms-transform:translateY(20%);
	transform:translateY(20%);
}
.sen-wenhua-info.active {
    opacity: 1;
    transition-delay: 0.3s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


/*兼容*/
@media screen and (min-width: 1367px)  and (max-width: 1445px){
	.ind-about .nrbox,
	.ind_news .cenbox,
	.ind-senic .cenbox,
	.ind-chwl .cenbox,
	.ind-ser .cenbox{
		width: calc(100% - 80px);
		max-width: 1250px;
	}
	
	/*公共*/

	.pc1-desc, .pc3-desc{
		width: 95px;
	}
	.pic-wz{
		width: 28px;
		height: 28px;
		margin:3px;
	}
	.pc1-qzcrl, .pc3-cfcrl{
		width: 34px;
		padding-top: 90px;
	}
	.pic-infoname{
		width: 25px;
	}
	.pic-txtbox{
		right: 33%;
    	top: 15%;
	}
	.pc1-qzcrl .pic-lines, .pc3-cfcrl .pic-lines{
		height: 45px;
	}
	.pc1-desc, .pc3-desc{
		margin:0 5px;
	}
	/*第一屏*/
	.pc1-qzcloud{
		right: 26%;
		top: 15px;
	}
	.pic-infotxts{
		padding-top: 90px;
	}
	/*第二屏*/
	.wraper-pc2 .pc2-timg{
		background-size: auto 15%;
	}
	.pc2-desc{
		width: 330px;
	}
	.pc2-eg,.pc2-name{
		width: 210px;
	}
	.pc2-zlcrl{
		top: 45px;
	}
	.pic2-infotxts .pc2-infots{
		margin-top: 0;
		line-height: 22px;
	}
	.pic-boat{
		bottom: 10%;
	}
	/*第三瓶*/
	.wraper-pc3 .pc3-cfimg,.wraper-pc2 .pc2-rimg{
		background-size: auto 40%;
	}
	.pc3-cftbox{
		right: 42%;
	}
	.pc3-cfcloud{
	    right: -5%;
	    top: 13%;
	}
	
}
@media screen and (min-width: 1036px) and (max-width: 1367px){
	.ind-about .nrbox,
	.ind_news .cenbox,
	.ind-senic .cenbox,
	.ind-chwl .cenbox,
	.ind-ser .cenbox{
		width: calc(100% - 80px);
		max-width: 11150px;
	}
	/*公共*/
	.pc1-desc, .pc3-desc{
		width: 65px;
		margin: 0 5px 0 0;
	}
	.pc1-qzcrl, .pc3-cfcrl{
		width: 26px;
    	padding-top: 68px;
	}
	.pic-wz{
	    width: 20px;
	    height: 20px;
	}
	.pc1-qzcrl .pic-lines, .pc3-cfcrl .pic-lines{
		height: 30px;
	}
	.pic-infots .pic-infoaddr{
		padding-right: 1px;
	}
	.pic-txtbox{
		top: 24%;
	}
	/*第一屏*/
	.pic-infoeg{
		width: 8px;
	}
	.pic-infoname{
		width: 18px;
	}
	.pic-infotxts{
		padding-top: 68px;
	}
	.pic-cloud{
		width: 45px;
    	height: 60px;
	}
	.pc1-qzcloud{
		right: 20%;
    	top: 13px;
	}
	/*第二屏*/
	.wraper-pc2 .pc2-timg{
		background-size: auto 15%;
	}
	.wraper-pc2 .pc2-rimg,.wraper-pc3 .pc3-cfimg{
		background-size: auto 50%;
	}
	.pc2-zlcrl .pic-lines{
		margin-top: 4%;
	}
	.pc2-desc{
		width: 280px;
		height: 96px;
	}
	.pc2-eg, .pc2-name{
		width: 160px;
		height: 22px;
	}
	.pc2-eg{
		height: 18px;
	}
	.pic2-infotxts .pic2-infoname{
		margin-top: 0px;
	}
	.pic-boat{
		background-size: 80%;
	}
	.pc2-zltbox{
		right: 32%;
	}
	/*第三瓶*/
	.pc3-cfcloud{
		right: -3%;
	    top: 10%;	
	}
	
	.bottombox {
	    padding:10px 10px;
	}
}

@media screen and (max-width: 1036px){
	.ind-about .nrbox,
	.ind_news .cenbox,
	.ind-senic .cenbox,
	.ind-chwl .cenbox,
	.ind-ser .cenbox{
		width: calc(100% - 20px);
	}

	/*公共*/
	.pc1-desc, .pc3-desc{
		width: 65px;
		margin: 0 5px 0 0;
	}
	.pc1-qzcrl, .pc3-cfcrl{
		width: 26px;
    	padding-top: 68px;
	}
	.pic-wz{
	    width: 20px;
	    height: 20px;
	}
	.pc1-qzcrl .pic-lines, .pc3-cfcrl .pic-lines{
		height: 30px;
	}
	.pic-infots .pic-infoaddr{
		padding-right: 1px;
	}
	.pic-txtbox{
		top: 20%;
	}
	/*第一屏*/
	.pic-infoeg{
		width: 8px;
	}
	.pic-infoname{
		width: 18px;
	}
	.pic-infotxts{
		padding-top: 68px;
	}
	.pic-cloud{
		width: 45px;
    	height: 60px;
	}
	.pc1-qzcloud{
		/*right: 44%;*/
    	top: 13px;
	}
	/*第二屏*/
	.wraper-pc2 .pc2-timg{
		background-size: auto 15%;
	}
	.wraper-pc2 .pc2-rimg,.wraper-pc3 .pc3-cfimg{
		background-size: auto 35%;
	}
	.pc2-zlcrl .pic-lines{
		margin-top: 4%;
	}
	.pc2-desc{
		width: 280px;
		height: 96px;
	}
	.pc2-eg, .pc2-name{
		width: 160px;
		height: 22px;
	}
	.pc2-eg{
		height: 18px;
	}
	.pic2-infotxts .pic2-infoname{
		margin-top: 0px;
	}
	.pic-boat{
		background-size: 80%;
	}
	.pc2-zltbox{
		right: 23%;
	}
	/*第三瓶*/
	.pc3-cfcloud{
		right: -5%;
	    top: 10%;	
	}
	.solution-swiper ul li {
	    position: relative;
	    float: left;
	    width: 0.323%;
	    height: auto;
	    margin-right: 0.005%;
	    margin-left: 0.005%;
	    transition: all 0.4s;
	    overflow: hidden;
	}
	
}

@media screen and (min-width: 640px) and (max-width:1024px) and (min-height: 1024px) {
 	/*共有 */
	.pc1-qzcrl, .pc3-cfcrl{
		width: 41px;
    	padding-top: 115px;
	}
	.pic-wz{
		width: 31px;
		height: 31px;
	}
	.pc1-qzcrl .pic-lines, .pc3-cfcrl .pic-lines{
		height: 60px;
	}
	.pic-infoname{
		width: 28px;
	}
	.pic-infoeg{
		width: 12px;
	}
	.pic-infotxts{
		padding-top: 115px;
	}
	.pic-cloud{
		width: 61px;
    	height: 82px;
	}
	/*第一屏*/
	.wraper-pc1 .pic-content{
		background: url(../images/ipad1-bg.jpg) center no-repeat;
		background-size: cover;
	}
	.wraper-pc1 .pc1-qzimg,.wraper-pc2 .pc2-timg{
		display: none;
	}
	.pc1-desc, .pc3-desc{
		width: 112px;
	}
	.pc1-qzcloud {
	    right: 33%;
	    top: 35px;
	}
	/*第二屏*/
	.wraper-pc2 .pic-content{
		background: url(../images/ipad2-bg.jpg) center no-repeat;
		background-size: cover;
	}
	.wraper-pc2 .pc2-rimg{
		background-position-y:70%; 
		background-size: auto 35%;
	}
	.pc2-zltbox{
		top: 30%;
		right: 30%;
	}
	.pc2-desc{
		width: auto;
		height: auto;
	}
	.pc2-eg{
		width: 230px;
    	height: 13px;
	}
	.pc2-name {
	    width: 240px;
	    height: 28px;
	}
	.pic2-infotxts .pic2-infoname{
	    margin-top: 10px;
	}
	/*第三瓶*/
	.wraper-pc3 .pic-content {
	    background: url(../images/ipad3-bg.jpg) center no-repeat;
	    background-size: cover;
	}
	.pc3-cfcloud {
	    right: -6%;
	    top: 20%;
	}
	.er-navlist .er-navinfo {
		font-size: 13PX;
		line-height: 25PX;
	}
	.er-navlist .ddbg{
		line-height: 25PX;
	}
	.bottombox {
	    padding:10px 5px;
	}
} 



@media screen and (max-width: 768px) {
	/*轮播图*/
	.pc1-qzcloud{
		right: 52%;
	}
	.wraper-pc2 .pc2-rimg{
		background-size: auto 38%;
	}
	.pc2-zltbox {
	    top: 26%;
	    right: 23%;
	}
	.wraper-pc3 .pc3-cfimg{
		background-position-y:38%;
		background-size: auto 31%;
	}
	.pc3-cftbox {
	    right: 40%;
	}
	/*三级页面导航*/
	.san-center{
		padding-right: 0 !important;
	}
	.san-right{
		display: none;
	}
} 