/*横置设备*/
.allhzsb{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.95) url(../../images/web/hzsb.png) center no-repeat;
	z-index: 5000;
	display: none;
}
/*全屏*/
.quanpi{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.95);
	display: none;
	z-index: 5000;
}
.quanpi .logo{
	position: absolute;
	width: 219px;
	height: 81px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -110px;
	background: url(../../images/web/logo-f.png) top center no-repeat;
	background-size:100% auto ;
}
.quanpi .tish{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 50%;
	left: 0%;
	margin-top: -100px;
	color: #ff0;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}
.quanpi .tish span{
	color: #fff;
	font-size: 15px;
	line-height: 20px;
}
.quanpi .qpbtn{
	position: absolute;
	width: 332px;
	height: 49px;
	top: 50%;
	left: 50%;
	margin-left: -166px;
	margin-top: 40px;
	background: url(../../images/web/F11.png) center no-repeat;
}
.quanpi .tishb{
	position: absolute;
	width: 100%;
	height: 30px;
	top: 50%;
	left: 0%;
	margin-top: 150px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}



/*顶部样式*/
.topbox{
	position: absolute;
	width: 100%;
	height: 85px;
	top: -60px;
	left: 0;
	/*background: rgba(248,248,248,.6);*/
    transition:all 0.8s ease;
    z-index: 3000;
    opacity: 0;
}
.topbox.er{
	background: rgba(248,248,248,.95);
}
.topbox.active{
    opacity: 1;
    top: 0px;
}
.topbox .logobox{
	position: absolute;
	width: 250px;
	height: 60px;
	left: 40px;
	top: 15px;
	z-index: 200;
	background: url(../../images/web/logo.png) top left no-repeat;
    background-size:auto 100%;
}
.topbox .logobox .logo{
	position: relative;
	width: 100px;
	height: 105px;
	background: url(../../images/web/logo.png) top center no-repeat;
    background-size:auto 100%;
}
.topbox .logobox .adds{
	position: absolute;
	width: calc(100% - 20px);
	height: 16px;
	bottom: 15px;
	font-size: 10px;
	line-height: 16px;
	color: #abcd13;
	letter-spacing: 1px;
	text-align: center;
}

/*.topbox .logo{
	position: absolute;
	width: 223px;
	height: 68px;
	top: 50%;
	-webkit-transform: scale(1.0) translateY(-50%);
    -ms-transform: scale(1.0) translateY(-50%);
    transform: scale(1.0) translateY(-50%);
    left: 40px;
    background: url(../../images/web/logo.png) top left no-repeat;
    background-size:auto 100%;
    transition:all 0.8s ease;
    z-index: 1000;
}*/


.topbox .rig-box{
	position: absolute;
	width: 200px;
	height: 25px;
	top: 27px;
	right: 40px;
	padding-left:25px ;
	overflow: hidden;
}
.topbox .rig-box .rig-btbox{
	position: absolute;
	width: 70px;
	overflow: hidden;
	height: 25px;
	top: 0;
	right: 0;
	transition: 0.3s;
}
.topbox .rig-box .rig-btbox.active{
	right: 96px;
}

.topbox .rig-box .rig-btbox .rbt{
	position: relative;
	float: left;
	width: 25px;
	font-size: 24px;
	line-height: 24px;
	color: #948e8a;
	transition: all 0.3s;
	cursor: pointer;
}
.topbox .rig-box .rig-btbox .rbt.active,
.topbox .rig-box .rig-btbox .rbt:hover{
	color: #9e4f68;
}
.topbox .rig-box .rig-btbox .rbt .lag{
	position: relative;
	border: 1px solid #948e8a;
	height: 24px;
	width: 24px;
	top: 0px;
	right: 0px;
	border-radius: 2px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #948e8a;
	margin-left: 20px;
}
.topbox .rig-box .rig-btbox .rbt:hover .lag,
.topbox .rig-box .rig-btbox .rbt .lag.active{
	border: 1px solid #9e4f68;
	color: #9e4f68;
}
.kssearch-form {
	transition: 0.3s;
	position: fixed;
	top: 85px;
	right: 120px;
	width: 300px;
	height:0px;
	overflow: hidden;
	z-index: 2000;
}
.kssearch-form fieldset {
	position: relative;
	margin: 0 50px 0 0;
	padding: 0;
	border: none;
}
.kssearch-form input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 50px;
}
.kssearch-form input[type="search"] {
	width: 100%;
	padding: 0 5px 0 22px;
	background: rgba(255,255,255,.7);
	border: none;
	font-family: "微软雅黑";
	color: #775b4e;
	height: 40px;
	line-height: 40px;
}
.kssearch-form input[type="submit"] {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	margin: 0;
	padding: 0;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #9e4f68;
	border: none;
	cursor: pointer;
	height: 40px;
}
.toplang{
	transition: 0.3s;
	position: absolute;
	top: 51px;
	right: 41px;
	width: 24px;
	height:0px;
	overflow: hidden;
	z-index: 2000;
	background: rgba(255,255,255,.7);
}

.toplang li{
	position: relative;
	width: 24px;
	float: left;
	height: 24px;
	border-left: 1px solid rgba(0,0,0,.1);
	font-size: 12px;
	color: #796358;
	line-height: 24px;
	text-align: center;
	transition: all 0.3S;
}
.toplang li:HOVER{
	color: #9e4f68;
}
.toplang li.actve{
	color: #fff;
	background: #9e4f68;
}

.kssearch-form.active{
	height: 40px;
}
.toplang.active {
	height:96px;
}


/*下拉导航栏*/
.nav_menu3 ul,
.nav_menu3 ul li a,
.nav_menu3 #menu-button {
	margin: 0;
	padding: 0;
 	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav_menu3 {
	display: block;
	position: absolute;
	width: calc(100% - 320px);
	height: 40px;
	top: 20px;
	right: 130px;
	text-align: right;
	padding-right: 0px;
	z-index: 20;
}
.nav_menu3 li{
	width: 110px;
	height: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
}

.nav_menu3 > ul > li > a {
	line-height: 78px;
	color: #666;
	transition:all 0.3s;
	font-size: 15px;
}
.nav_menu3 > ul > li:hover > a {
	color: #fff;
	background: #9e4f68;
}

.nav_menu3 > ul > li .mbtbox{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #948e8a;
	line-height: 40px;
	text-align: center;
}

.nav_menu3 > ul > li:hover .mbtbox{
	color: #fff;
}
.nav_menu3 ul ul {
	position: absolute;
	margin-top: 15px;
	transition: 0.5s;
	opacity: 0;
	left: -9999px;
}
.nav_menu3 li:hover > ul {
	left: auto;
	margin-top: 0px;
	opacity: 1;
}
.nav_menu3 ul ul li {
  	height: 40px;
}
.nav_menu3 ul ul li a {
  	padding: 10px;
	width: 100%;
	line-height: 20px;
	background: rgba(248,248,248,.9);
	text-decoration: none;
	font-size: 15px;
	/*font-family: hbkx;*/
	letter-spacing: 0px;
  	color: #948e8a;
 	transition: 0.3s;
  	border-top: 1px solid rgba(148,142,138,.2);
}

.nav_menu3 ul ul li:hover > a,
.nav_menu3 ul ul li a:hover {
	color: #fff;
	background: #948e8a;
}
/*下拉导航栏结束*/

/*右边按钮*/
.allrightbox{
	position: fixed;
	width: 62px;
	height: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -65px;
	z-index: 2500;
	transition: all 0.8s ease;
	opacity: 0;
}
.allrightbox.active{
	right: 10px;
	opacity: 1;
	transition-delay: 0.15s;
}
.allrightbox li{
	position: relative;
	width: 30px;
	height: 30px;
	background: rgba(158,79,104,.7);
	border-radius: 15px;
	margin: 6px 0;
	text-align: center;
	padding-top: 2px;
	transition: all 0.3s;
	cursor: pointer;
	line-height:25px;
	left: 32px;
	overflow: hidden;
}
.allrightbox li:hover{
	width: 100%;
	left: 0px;
}
.allrightbox li:hover{
	background: #9e4f68;
}
.allrightbox li i{
	position: absolute;
    width: 30px;
    line-height: 25px;
    height: 25px;
    left: 0;
    top: 2px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
.allrightbox li p{
	position: absolute;
	width: 35px;
	top: 3px;
	left: 24px;
	color: #fff;
	font-size: 13px;
	opacity: 0;
	transition: all 0.3s;
}
.allrightbox li:hover p{
	opacity: 1;
}
.backtop{
	opacity: 0;
	width: 100% ;
	height: 0px !important;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s;
}
.backtop.active{
	width: 30px;
	height: 30px !important;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.backtop i{
	font-size: 17px !important;
	margin-top: 2px;
}
/*右边按钮结束*/
/*栏目弹窗*/
.lmtcbox{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -100;
}
.lmtcbox.disstyle{
	z-index: 10000;
}
.lmtcbox .tcbg{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.0);
	transition: all 0.6s ease;
}

.lmtcbox .tcbg.disstyle{
	background: rgba(0,0,0,.85);
}


.lmtcbox .tcbg2{
	position: absolute;
	width: 1px;
	height: 0px;
	top: 50%;
	left: 50%;
	-webkit-transform:scale(1) translateX(-50%) translateY(-50%);
	-ms-transform:scale(1)  translateX(-50%) translateY(-50%);
	transform:scale(1) translateX(-50%) translateY(-50%);
	background: #fff url(../../images/web/er-bg.jpg) top center no-repeat;
	background-size:cover ;
	transition: all 0.6s ease;
	opacity: 0;
	z-index: 1;
}
.lmtcbox .tcbg2.hei{
	opacity: 1;
	height: 100%;
	transition: all 0.4s ease;
}
.lmtcbox .tcbg2.width{
	width: 100%;
	transition: all 0.6s ease;
}
.lmtcbox .tcbg2.disstyle{
	opacity: 0;
	transition: all 0.5s ease;
}


.lmtcbox .TCnrbox{
	position: absolute;
	width: 1px;
	height: 0px;
	top: 50%;
	left: 50%;
	z-index: 5;
	-webkit-transform:scale(1) translateX(-50%) translateY(-50%);
	-ms-transform:scale(1)  translateX(-50%) translateY(-50%);
	transform:scale(1) translateX(-50%) translateY(-50%);
	/*background: #ccc ;*/
	background-size:100% 100%;
	opacity: 0;
	border-radius: 5px 5px 5px;
}

.lmtcbox .TCnrbox.hei{
	opacity: 0.5;
	height: 100%;
	transition: all 0.4s ease-in;
}
.lmtcbox .TCnrbox.width{
	opacity: 1;
	width: 100%;
	max-width: 1360px;
	transition: all 0.8s ease-in;
}
.lmtcbox .TCnrbox.bor{
	border-radius: 0px;
	transition: all 0.4s ease-in;
}
.lmtcbox .TCnrbox.disstyle{
	opacity: 0;
	transition: all 0.6s ease;
	-webkit-transform:scale(.8) translateX(-60%) translateY(-60%);
	-ms-transform:scale(.8)  translateX(-60%) translateY(-60%);
	transform:scale(.8) translateX(-60%) translateY(-60%);
}

.lmtcbox .closebtn{
	position: absolute;
	width: 45px;
	height: 45px;
	top: 20px;
	right: -60px;
	background: #9e4f68 url(../../images/web/close1.png) center no-repeat;
	background-size:30px ;
	border-radius: 3px;
	transition: all 0.4s;
	cursor: pointer;
	opacity: 0;
	z-index: 6000;
}
.lmtcbox .closebtn.disstyle{
	right: 20px;
	opacity: 1;
}
.lmtcbox .closebtn:hover{
	background: #9e4f68 url(../../images/web/close1.png) center no-repeat;
	background-size:30px ;
	border-radius: 22px;
}

.lmtcbox .loadbox,
.lmtcbox .newtcbox,
.lmtcbox .new-fstcbox,
.lmtcbox .pictcbox{
	position: absolute;
	width:calc(100% - 80px);
	max-width: 1300px;
	height: 100%;
	top: 10%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index: 5000;
	overflow-x:hidden ;
	overflow-y: auto;
	transition: all 0.8s;
	opacity: 0;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	filter: blur(5px);
}
.lmtcbox .newtcbox,
.lmtcbox .new-fstcbox,
.lmtcbox .pictcbox{
	z-index: 0;
}
.lmtcbox .newtcbox.zind,
.lmtcbox .new-fstcbox.zind,
.lmtcbox .pictcbox.zind{
	z-index: 6000;
}
.lmtcbox .loadbox::-webkit-scrollbar,
.lmtcbox .newtcbox::-webkit-scrollbar,
.lmtcbox .new-fstcbox::-webkit-scrollbar,
.lmtcbox .pictcbox::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 0px;
}
.lmtcbox .loadbox::-webkit-scrollbar-thumb,
.lmtcbox .newtcbox::-webkit-scrollbar-thumb,
.lmtcbox .new-fstcbox::-webkit-scrollbar-thumb,
.lmtcbox .pictcbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.lmtcbox .loadbox::-webkit-scrollbar-track,
.lmtcbox .newtcbox::-webkit-scrollbar-track,
.lmtcbox .new-fstcbox::-webkit-scrollbar-track,
.lmtcbox .pictcbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0px;
    background: #EDEDED;
}
.lmtcbox .loadbox.disstyle,
.lmtcbox .newtcbox.disstyle,
.lmtcbox .new-fstcbox.disstyle,
.lmtcbox .pictcbox.disstyle{
	opacity: 1;
	top: 0;
	filter: blur(0px);
}

.lmtcbox .newback,
.lmtcbox .new-fsback,
.lmtcbox .picback{
	position: absolute;
	width: 100%;
	/*max-width: 1360px;*/
	height: 35px;
	top: 20px;
	left: 50%;
	-webkit-transform:translateX(-50%);
	-ms-transformtranslateX(-50%);
	transform:translateX(-50%);
	z-index: -10;
}
.lmtcbox .newback.zind,
.lmtcbox .new-fsback.zind,
.lmtcbox .picback.zind{
	z-index: 6001;
}
.lmtcbox .newback .backico,
.lmtcbox .new-fsback .backico,
.lmtcbox .picback .backico{
	position: absolute;
	width: 45px;
	height: 45px;
	top: 0px;
    right: 20px;
	background: #9e4f68;
	cursor: pointer;
	border-radius: 25px;
	font-size: 14px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	transition: all 0.3s;
	opacity: 0;
	-webkit-transform:scale(.3);
	-ms-transform:scale(.3);
	transform:scale(.3);
}
.lmtcbox .newback .backico:hover,
.lmtcbox .new-fsback .backico:hover,
.lmtcbox .picback .backico:hover{
	background: #9e4f68;
}
.lmtcbox .newback .backico.disstyle,
.lmtcbox .new-fsback .backico.disstyle,
.lmtcbox .picback .backico.disstyle{
	opacity: 1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
/*more*/
.more{
	text-align: center;
	/*padding: 10px 0 20px 0;*/
	position: relative;
	width: 100px;
    margin: 0 auto;
}
.more .more-box{
	color: #9e4f68;
	position: relative;
	border:1px solid #9f8670;
	width: 105px;
	height: 30px;
	display: inline-block;
	transition: 0.3s;
	line-height: 30px;
}
.more .m-right,.flex-item .m-right,.er-nlist-more .m-right{
	display: inline-block;
	width: 8px;
	height:8px;
	border-top: 1px solid #9f8670;
	border-right: 1px solid #9f8670;
	transform: rotate(45deg);
	position: absolute;
	right: 25%;
	top:50%;
	margin-top: -4px;
}
.more .m-lines,.flex-item .m-lines,.er-nlist-more .m-lines{
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 0;
	border-top: 1px solid #9f8670;
    top: 50%;
    right: 25%;
    margin-top: -1px;
    transition: all 0.3s;
}
.more .more-box:hover .m-lines,
.more .more-box:hover .m-right{
	border-color: #9e4f68;
	/*color: #9e4f68;*/
}
.by-more{
	color: #9c9288;
}
.by-more span{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #9e4f68;
	margin-left: 5px;
}
.more .flex-xs{
	float: none;
	width: 100%;
	text-align: left;
	padding-left: 25px;
}
.more .more-box:hover .flex-xstxt{
	opacity: 1;
}
.more .more-box:hover .m-lines{
	width: 20px;
}
.ind_news .more .more-box{
	color: #fff;
}
.ind_news .more .more-box:hover,
.ind_news .more .more-box:hover .m-lines,
.ind_news .more .more-box:hover .m-right{
	border-color: #fff;
	color: #fff;
}
.flex-xstxt {
    opacity: 0;
    transition: 0.5s;
}

/*加载框内容*/
.load-bigbox{
	position: relative;
	width: 100%;
	height: auto;
	opacity: 1;
	transition: 0.6s all;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.load-bigbox.disstyle{
	opacity: 0;
	-webkit-transform:scale(0.8);
	-ms-transform:scale(0.8);
	transform:scale(0.8);
}
.ld-lmtit{
	position: relative;
	width: 100%;
	max-width: 1300px;
	height: 35px;
    text-align: left;
    font-size: 25px;
    line-height: 25px;
    color: #9e4f68;
    letter-spacing: 2px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    margin-bottom: 15px;
    margin-top: 40px;
}
.ld-lmtit span{
	height: 25px;
    font-size: 14px;
    color: #8d7560;
    letter-spacing: 0px;
}

.ld-nrtit{
	position: relative;
	width: 100%;
	max-width: 1300px;
	height: auto;
    text-align: center;
    color: #9e4f68;
    padding: 40px 0px 5px 0px;
    margin-bottom: 5px;
}
.ld-nrtit p{
	width: 100%;
	height: auto;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 5px;
}
.ld-nrtit span{
	width: 100%;
	line-height: 30px;
    font-size: 12px;
    color: #596657;
    letter-spacing: 0px;
}
.ld-nrgnbox{
	position: relative;
    width: auto;
    height: 37px;
    text-align: left;
    margin-bottom: 10px;
}




.lm-tc{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../../images/web/page-bg1.jpg) center center no-repeat;
	background-size:cover ;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition:all 0.5s;
	z-index: -10;
	opacity: 0;
}
.lm-tc.active{
	z-index: 6000;
	opacity: 1;
}

.nr-tc{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:rgba(0,0,0,.0);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition:all 0.5s;
	z-index: -10;
}
.nr-tc.active{
	z-index: 20000;
	background:rgba(0,0,0,.85);
}
.nrtc-nrbox{
	position: fixed;
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 2px 10px #000;
	overflow: hidden;
	-o-transition: 0.5s;
	transition:all 0.5s;
	z-index: 6100;
	opacity: 0;
}
.nrtc-nrbox.active{
	position: fixed;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	opacity: 1;
}
.nrtc-nrbox .tc-top{
	position: relative;
	width: 100%;
	height: 40px;
	background: #9e4f68;
	box-shadow: 0px 1px 3px rgba(0,0,0,.3);
	z-index: 10;
}
.nrtc-nrbox .tc-top .title{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 100px 0px 10px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nrtc-nrbox .tc-top .nrtc-back{
	position: absolute;
	width: 40px;
	height: 100%;
	right: 10px;
	text-align: right;
	font-size: 25px;
	color: #ff0;
	line-height: 40px;
	cursor: pointer;
}
#nrtc_iframes{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: calc(100% - 40px);
	background: rgba(0,0,0,.5);
}
#lmtc_iframes{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.0);
}

.tc-info{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:rgba(0,0,0,.0);
	z-index: -1;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition:all 0.5s;
}
.tc-info.active{
	z-index: 3000;
	background:rgba(0,0,0,.85);
}
.tc-hide{
	width: 100%;
	height: 100%;
	overflow:hidden;
	position: relative;
	opacity: 0;
	transition:all 0.5s;
}
.tc-hide.active{
	opacity:1;
}
#n_iframes{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
}

/*弹窗样式结束*/

/*更多*/
.more01{
	position: relative;
	width: 112px;
	height: 25px;
	transition: all 0.3s;
	cursor: pointer;
}
.more01 .left{
	float: left;
	width: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: #9e4f68;
	transition: all 0.3s;
}
.more01 .right{
	float: left;
	width: 80px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background: #596657;
	font-size: 14px;
	transition: all 0.3s;
}

/*推荐新闻样式*/
.tjnewsbox{
	position: relative;
	width: 100%;
	height: auto;
	bottom: 0;
}
.tjnewsbox .leftbox{
	position: relative;
	width: 50%;
	height: auto;
	overflow:hidden;
	background: url(../../images/web/gk-bg.png);
	cursor: pointer;
	opacity: 0;
	left: -5%;
	transition: all 0.8s ease;
}
.tjnewsbox .leftbox:before{
	position: absolute;
	content: '';
	border-left: 1px dashed #bcaa99;
	height: 47%;
	top: 0;
	right: 0;
}

.tjnewsbox .leftbox.active{
	left: 0px;
	opacity: 1;
	transition-delay: 0.2s;
}
.tjnewsbox .leftbox.er{
	background: #fff;
}
.tjnewsbox .leftbox .ch{
	margin-top: 75%;
}
.tjnewsbox .leftbox .newnrbox {
    position: absolute;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    top: 30px;
    left: 40px;
}
.tjnewsbox .leftbox .data{
	position: relative;
	width: 100%;
	height: 30px;
	font-size: 24px;
	color: rgba(141,117,96,.5);
	line-height: 30px;
	font-family: arial;
	transition: all 0.3s;
}
.tjnewsbox .leftbox:hover .data{
	color: rgba(141,117,96,.7);
}
.tjnewsbox .leftbox .data span{
	font-size: 12px;
	line-height: 20px;
	padding-top: 10px;
}
.tjnewsbox .leftbox .newstitle{
	position: relative;
	width: 100%;
	height: 30px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #8d7560;
	margin-top: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s;
}
.tjnewsbox .leftbox:hover .newstitle{
	color: #9e4f68;
}
.tjnewsbox .leftbox .newsinfo{
	position: relative;
	width: 100%;
	height: 56px;
	font-size: 14px;
	line-height: 28px;
	color: rgba(141,117,96,.8);
	margin-top:0px;
	padding-left: 5%;
	overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: all 0.3s;
}
.tjnewsbox .leftbox:hover .newsinfo{
	color: rgba(141,117,96,1);
}
.tjnewsbox .leftbox .newsinfo .line{
	position: absolute;
	width: 2px;
	height: 46px;
	top: 50%;
	margin-top: -23px;
	background: #596657;
	left: 0;
	opacity: 0.3;
}
.tjnewsbox .leftbox .picbox{
	position: absolute;
	width: 100%;
	height: calc(100% - 160px);
	background: #000;
	margin-top: 20px;
	overflow: hidden;
}
.tjnewsbox .leftbox .picbox .spico{
    position: absolute;
    width: 100%;
    height: 100%;
    transition:all 0.3s;
    background: rgba(0,0,0,.1);
    z-index: 100;
}
.tjnewsbox .leftbox:hover .picbox .spico{
    background: rgba(0,0,0,.2);
}
.tjnewsbox .leftbox .picbox .spico i{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    margin-top: -40px;
    color: rgba(255,255,255,.7);
    font-size: 50px;
    line-height: 80px;
    transition:all 0.3s;
    text-align: center;
}
.tjnewsbox .leftbox:hover .picbox .spico i{
    font-size: 65px;
    color: rgba(255,255,255,.9);
}
.tjnewsbox .leftbox .picbox .img{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.8s;
}
.tjnewsbox .leftbox:hover .picbox .img{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	filter: saturate(180%);
}
.tjnewsbox .leftbox .morebox{
	position: absolute;
	width: 100px;
	height: 30px;
	bottom: 0%;
	border: 1px solid rgba(155,140,130,.5);
	transition: all 0.3s;
	background: url(../../images/web/jt1.png) center center no-repeat;
}
.tjnewsbox .leftbox:hover .morebox{
	border: 1px solid #9e4f68;
	background: #9e4f68 url(../../images/web/jt1-on.png) center center no-repeat;
}
/*.tjnewsbox .rightbox{
	position: absolute;
	width: 47%;
	height: calc(100% - 0px);
	top: 0;
	right: -100px;
	border-top: 1px dashed rgba(155,140,130,.2);
	opacity: 0;
	transition: all 0.8s ease;
}*/

.tjnewsbox .rightbox {
    position: absolute;
    width: 50%;
    height: calc(100% - 0px);
    top: 0;
    right: -5%;
    /*border-top: 1px dashed rgba(155,140,130,.2);*/
    opacity: 0;
    transition: all 0.8s ease;
    padding: 0 40px;
    background: url(../../images/web/gk-bg.png);
}

.tjnewsbox .rightbox.active{
	right:0;
	opacity: 1;
	transition-delay: 0.2s;
}

.tjnewsbox .rightbox:after{
	position: absolute;
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #bcaa99;
	transform: rotate(45deg);
	top: 50%;
	margin-top: -6px;
	left: -6px;
}
.tjnewsbox .rightbox:before{
	position: absolute;
	content: '';
	border-left: 1px dashed #bcaa99;
	height: 47%;
	bottom: 0;
	left: 0;
}



.tjnewsbox .rightbox.er{
	border-top: 1px dashed rgba(155,140,130,.2);
}
.tjnewsbox .rightbox li{
	position: relative;
	width: 100%;
	height: calc(33.333% - 1px);
	border-bottom: 1px dashed rgba(155,140,130,.2);
	transition: all 0.3s;
	/*padding: 0 2%;*/
	transition: all 0.3s;
}
.tjnewsbox .rightbox li.er{
	border-bottom: 1px dashed rgba(155,140,130,.2);
}
/*.tjnewsbox .rightbox li:hover{
	background: rgba(255,255,255,.5);
}*/
.tjnewsbox .rightbox li.er:hover{
	background: #fff;
}
.tjnewsbox .rightbox li .nrbox{
	position: relative;
	width: 100%;
	height:auto;
	top: 50%;
	overflow: hidden;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
.tjnewsbox .rightbox li .nrbox .leftb{
	position: relative;
	float: left;
	width: 6%;
	height:100%;
	line-height: 24px;
	font-size: 40px;
	color: #8d7560;
	transition: all 0.3s; 
}
.tjnewsbox .rightbox li:hover .nrbox .leftb{
	color: #9e4f68;
}
.tjnewsbox .rightbox li .nrbox .rightb{
	position: relative;
	float: left;
	width: 90px;
	height:100%;
	font-size: 24px;
	color: rgba(141,117,96,.5);
	text-align: right;
	line-height: 20px;
	font-family: arial;
	transition: all 0.3s; 
}
.tjnewsbox .rightbox li .nrbox .rightb span{
	font-size: 12px;
	line-height: 20px;
}
.tjnewsbox .rightbox li .nrbox .rightb .jt{
	position: absolute;
	width: 51px;
	height: 9px;
	background: url(../../images/web/jt1.png) center right no-repeat;
	margin-top: 20px;
	right: 30px;
	opacity: 0;
	transition: all 0.3s;
}
.tjnewsbox .rightbox li:hover .nrbox .rightb{
	color: rgba(141,117,96,1);
}
.tjnewsbox .rightbox li:hover .nrbox .rightb .jt{
	right: 0;
	opacity: 1;
}
.tjnewsbox .rightbox li .nrbox .centerb{
	position: relative;
	float: left;
	width: calc(94% - 90px);
	height:auto;
}
.tjnewsbox .rightbox li .nrbox .centerb h1{
	position: relative;
	width:100%;
	height:30px;
	font-size: 16px;
	line-height: 24px;
	color: #8d7560;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s;
}
.tjnewsbox .rightbox li:hover .nrbox .centerb h1{
	color: #9e4f68;
}
.tjnewsbox .rightbox li .nrbox .centerb span{
	position: relative;
	width:100%;
	height:44px;
	font-size: 14px;
	line-height: 22px;
	color: rgba(141,117,96,.7);
    transition: all 0.3s;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.tjnewsbox .rightbox li:hover .nrbox .centerb span{
	color: rgba(141,117,96,1);
}

.allpiclist{
	position: relative;
	width: 100%;
	height: auto;
	border: 1px solid rgba(223,211,200,0);
	padding: 2px;
	transition: .4s all;
}
.allpiclist.ind{
	height: 100%;
}
.allpiclist:hover{
	border: 1px solid #dfd3c8;
}
.allpiclist .anrbox{
	width: 100%;
    height: auto;
    padding: 5px;
    border: 2px solid #dfd3c8;
    background: #f5f8f8;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    text-decoration: none;
}
.allpiclist:hover .anrbox{
    border: 2px solid #9e4f68;
}
.allpiclist .anrbox .imgbox {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.allpiclist .anrbox .imgbox .imgs{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.allpiclist:hover .anrbox .imgbox .imgs{
    -webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.allpiclist .anrbox .imgbox .spico{
    position: absolute;
    width: 100%;
    height: 100%;
    transition:all 0.3s;
    background: rgba(0,0,0,.1);
    z-index: 100;
}
.allpiclist:hover .anrbox .imgbox .spico{
    background: rgba(0,0,0,.2);
}
.allpiclist .anrbox .imgbox .spico i{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    margin-top: -40px;
    color: rgba(255,255,255,.7);
    font-size: 50px;
    line-height: 80px;
    transition:all 0.3s;
    text-align: center;
}
.allpiclist:hover .anrbox .imgbox .spico i{
    font-size: 65px;
    color: rgba(255,255,255,.9);
}


.allpiclist .anrbox .imgbox .ch1 {
    margin-top: 65%;
}
.allpiclist .title{
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #968a81;
    text-align: left;
    line-height: 30px;
    text-align: left;
    margin-top: 5px;
    padding: 0 5px;
    transition: all 0.3s;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.allpiclist:hover .title{
    color: #9e4f68;
}

.allpiclist .title span.tistx {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 3px;
    letter-spacing: -1px;
}
.allpiclist .title span.fushu {
    display: block;
    width: auto;
    height: 16px;
    font-size: 12px;
    font-family: 微软雅黑;
    line-height: 16px;
    color: #fff;
    margin-left: 5px;
    padding: 0px 5px;
    background: #9e4f68;
    overflow: hidden;
    letter-spacing: 0px;	
}


.allpiclist .asinfo {
    position: relative;
    width: 100%;
    height: 65px;
    font-size: 12px;
    color: #8d7560;
    line-height: 22px;
    text-align: left;
    overflow: hidden;
     padding: 0 5px;
     opacity: 0.6;
    transition: all 0.3s;
}
.allpiclist:hover .asinfo {
    opacity: 1;
}
.allpiclist .asinfo p {
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-style: normal;
}
.allpiclist .gnbtnbox{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	 padding: 0 5px;
}
.allpiclist .gnbtnbox .bt{
	position: relative;
    float: left;
    width: 25px;
    height: 25px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 13px;
    transition: all 0.3s;
    margin-left: 0px;
    background: rgba(141,117,96,.2);
}
.allpiclist:hover .gnbtnbox .bt{
    background:#9e4f68;
}

.allpiclist .gnbtnbox .bt i {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #8d7560;
    color: rgbargba(141,117,96,.9);
    line-height: 25px;
    padding-left: 0px;
    transition: all 0.3s;
    text-align: center;
}
.allpiclist:hover .gnbtnbox .bt i {
    color: #fff;
}

.allpiclist .gnbtnbox .bt .zi1 {
    position: absolute;
    width: 70px;
    height: 25px;
    top: 0;
    left: 26px;
    font-size: 12px;
    line-height: 25px;
    color: #666;
    transition: all 0.3s;
}
.allpiclist .gnbtnbox .bt:hover{
	width: 85px;
	background: #9e4f68;
}
.allpiclist .gnbtnbox .bt:hover .zi1{
	color: #fff;
}
.allpiclist .gnbtnbox .bt i.ico1 {
    font-size: 16px;
}
.allpiclist .gnbtnbox .juli {
    position: absolute;
    width: auto;
    height: 26px;
    line-height: 30px;
    font-size: 12px;
    color: #8d7560;
    top: 0;
    right: 5px;
    text-align: center;
    transition: all 0.3s;
}
.allpiclist:hover .gnbtnbox .juli{
	color: #9e4f68;
}

/*地图标注*/
.anchorBL{
	display: none;
}
.map_show{
	width: 300px;
	height: 85px;
	overflow: hidden;
}
.map_show .imgbox{
	position: relative;
	float: right;
	width: 120px;
	height: 97%;
	margin-top: 3%;
	background: #000;
}
.map_show h4{
	position: relative;
	float: left;
	width: calc(100% - 130px);
	height: 26px;
	line-height: 26px;
	font-size: 15px;
	color: #9e4f68;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-weight: bold;
}
.map_show h5{
	position: relative;
	float: left;
	width: calc(100% - 130px);
	height: 60px;
	line-height: 20px;
	font-size: 13px;
	color: #596657;
	overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: normal;
}
.map_show .mapbtn{
	position: relative;
	float: left;
	width: 100px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	background: #9e4f68;
	border-radius: 2px;
	text-align: center;
	margin-top: 5px;
}
.map_show .mapbtn i{
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	color: #fff;
	margin-right: 5px;
	vertical-align: sub;
}

.by-namebox {
    width: auto;
    height: 43px;
    display: inline-block;
    margin-left: -3px;
    overflow: hidden;
    line-height: 39px;
}
.by-name {
    color: #9f8670;
    height: 41px;
    display: inline-block;
    /* width: 160px; */
    border-right: 1px solid #7b766b;
    background: url(../../images/web/title.png) repeat-x;
    margin: 0 auto;
    font-family: fznb;
    line-height: 41px;
    text-align: left;
    letter-spacing: 10px;
    padding-left: 6px;
    white-space: nowrap;
    margin-right: -6px;
    font-size: 30px;
   /* font-weight: 700;*/
}
.by-eg {
    font-size: 24px;
    color: #9f8670;
    font-family: fontName;
}
.ld-nrtit .by-name {
    background: url(../../images/web/title1.png) repeat-x;
    color: #9e4f68;
}
/*er-页面links*/
.er-navlist{
	width: 100%;
	position: relative;
	padding:0 0 15px 0;
	text-align: center;
	overflow: hidden;
}
.er-navlist ul{
	position: relative;
	text-align: center;
	display: inline-block;
}
.er-navlist .er-left,
.er-navlist .er-right{
	position: absolute;
	display: block;
	width: 625px;
	height: 25px;
	top: 0;
	background:url(../../images/web/er-ddl.png) center center repeat-x;
}
 .er-navlist .er-left{
	left: -625px;
}
.er-navlist .er-right{
	right: -625px;
} 
.er-navlist li{
	display: inline-block;
	min-width: 14px;
	height: 25px;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	padding: 0px 16px 0PX 32PX;
	vertical-align: top;
	background:url(../../images/web/er-dd.png) left center no-repeat;
}
.er-navlist li.show{
	font-size: 12px;
	line-height: 25px;
}
.er-navlist .ddbg{
	color: rgba(0,0,0,0); 
	line-height: 25PX;
	padding: 0;
}
.er-navlist .er-navinfo {
	color: #847465;
	font-size: 16PX;
	line-height: 22PX;

}
.er-navlist .er-navinfo a{
	color: #847465;
}
.er-navlist .er-navinfo a:hover{
	color: #9e4f68;
}
.er-navlist .er-navinfo a.active{
	color: #9e4f68;
}

.er-btnlinks li{
	display: inline-block;
	height: 25px;
	position: relative;
	padding:0 15px;
}
/*底部样式*/
.bottombox {
    width: 100%;
    background:url(../../images/web/bottom.jpg);
    color: #7e6950;
    position: relative;
    bottom: 0px;
    z-index: 505;
    padding:10px 30px;
    overflow: hidden;
}
.bottombox .bottm {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
}
.bottombox  .bleft {
    float: left;
    width: 50%;
    font-size: 12px;
    line-height: 24px;
    color: #9e8c7b;
}
.bottombox  .bright {
    float: right;
    width: 50%;
    font-size: 12px;
    line-height: 24px;
    color: #9e8c7b;
    text-align: right;
}
.bottombox  .bcenter {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left:-23px;
}
.select{
	position: relative;
	width: 200px;
	height: 25px;
	margin-top: 10px;
	right: 0px;
	border: 1px solid rgba(254,240,230,.4);
	background: rgba(0,0,0,.0);
	font-size: 14px;
	font-family: "微软雅黑";
	color: rgba(254,240,230,.7);
	outline: 0;
}
.select1{
	background: #f60;
	color: #fff;
}
.select1:hover{
	background: #007733;
	color: #fff;
}
.select2{
	background: #e8e8e8;
	color: #666;
}
.select2:hover{
	background: #f08;
	color: #fff;
}
	


.more01:hover .right{
	background: #e13c06;
}



/*微信弹出开始*/
.wx-zsbox,.fw-zsbox{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left:100%;
	background: rgba(0,0,0,.85);
	z-index: 3000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.wx-close{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	margin-top: -125px;
	left: 50%;
	margin-left: 302px;
	cursor: pointer;
	z-index: 111;
	background:#007733 url(../../images/web/close1.png) center no-repeat;
	background-size:cover ;
}
.wx-close:HOVER{
	background:#900 url(../../images/web/close1.png) center no-repeat;
	background-size:cover ;
}
.wx-infobox{
	position: absolute;
	width: 600px;
	height: 250px;
	top: 50%;
	margin-top: -125px;
	left: 50%;
	margin-left: -300px;
	background: #fff;
}
.wx-infobox .ewm{
	position: absolute;
	width: 250px;
	height: 250px;
	border-right: 1px solid rgba(0,0,0,.2);
	background: url(../../images/web/wxewm.jpg) center no-repeat;
	background-size:100% auto ;
}
.wx-infobox .info,.fw-infobox .info{
	position: absolute;
	width: 240px;
	top:36px;
	right: 10px;
	font-size: 14px;
	line-height: 35px;
}
.wx-infobox .tb1{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 51px;
	left: 295px;
	background: url(../../images/web/wx.png) center no-repeat;
	background-size:100% auto;
}
.wx-infobox .tb2{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 161px;
	left: 295px;
	background: url(../../images/web/sys3.png) center no-repeat;
	background-size:100% auto;
}
/*微信弹出结束*/
/*顶部banner样式*/
.topbanner{
	position: relative;
	width: 100%;
	height: 65%;
	overflow: hidden;
	top: 0px;
}
.topbanner.ydbanner {
    height: 40%;
}
.topbanner .titles {
    position: absolute;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    top: 55%;
    margin-top: -10px;
    z-index: 200;
}
.topbanner .tityw {
    position: absolute;
    width: 100%;
    height: 21px;
    left: 0;
    top: 55%;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    z-index: 200;
    margin-top: 30px;
}
.e_topbanner.showbanner{
	height: 35%;
	max-height: 400px;
	min-height: 300px;
}
.e_topbanner .imgbox{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../../images/web/ind-jdbg.jpg) center center no-repeat;
	background-size:cover ;
	z-index: 0
}
.e_topbanner .imgbox .bgcoler{
	position: absolute;
	width:100%;
	height: 100%;
	background: #533523;
	opacity: 0.55;
}
.e_topbanner .imgbox.upstyle{
	position:fixed;
	height: 60%;
	top: -60%;
	margin-top: 125px;
	z-index: 50;
}
.e_topbanner .cenbox{
	padding-top: 80px;
	position: relative;
	width: 100%;
	max-width: 1360px;
	height: auto;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: scale(1) translateY(-50%);
    -ms-transform: scale(1.0) translateY(-50%);
    transform: scale(1.0) translateY(-50%);
}
.e_topbanner .cenbox h1{
	position: relative;
	width: 100%;
	height: 28px;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	color: #fff;
	font-family: 宋体;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	text-shadow:1px 1px 3px rgba(0,0,0,.5);
}
.e_topbanner .cenbox .linebox{
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
}
.e_topbanner .cenbox .linebox .line{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 1px;
	background: rgba(255,255,255,.7);
	vertical-align: middle;
	margin-top:-3px;
}
.e_topbanner .cenbox h2{
	position: relative;
	display: inline-block;
	width: auto;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	font-family: fontName;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	text-shadow:1px 1px 3px rgba(0,0,0,.5);
}
.e_topbanner .cenbox h3{
	position: relative;
	width: 100%;
	height: auto;
	font-size: 12px;
	line-height: 22px;
	color: rgba(255,255,255,0.8);
	text-align: center;
	letter-spacing: 1px;
	text-shadow:1px 1px 3px rgba(0,0,0,.5);
}
/*详情页*/
.shows_topban{
	position: relative;
	width: 100%;
	height: auto;
	background: url(../../images/web/ind-bg1.jpg);
	padding-top: 120px;
}
.shows_topban .banbg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	top: 0;
}
.shows_topban .cennr{
	position: relative;
    width: calc(100% - 40px);
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    z-index: 100;
}
.show-ydnews{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(255,255,255,.7);
	border: 1px solid rgba(0,0,0,.1);
}
.show-ydnews .picboxs{
	position: absolute;
	float: left;
	width: 50%;
	height: 100%;
	padding: 5px;
	border-right: 1px solid rgba(0,0,0,.1);
}
.show-ydnews .picboxs .imgbox{
	position: relative
	width: 100%;
	height: 100%;
}
.show-ydnews .messinfo {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 20px;
}
.show-ydnews .messinfo h1 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 30px;
    line-height: 32px;
    font-size: 24px;
    color: #9e4f68;
    transition: all 0.3s;
    font-weight: bold;
    margin-bottom: 25px;
}
.show-ydnews .messinfo .dlwz {
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin: 20px 0;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.show-ydnews .messinfo .dlwz span.lfzi {
    max-width: calc(100% - 75px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.show-ydnews .messinfo .dlwz span.lfzi b {
    line-height: 20px;
    font-size: 20px;
    color: #9e4f68;
    margin-right: 3px;
}
.show-ydnews .messinfo .dlwz span.active.ydbtn a {
    color: #fff;
    border: 1px solid #9e4f68;
    background: #9e4f68;
}
.show-ydnews .messinfo .dlwz span.ydbtn a {
    display: block;
    width: auto;
    height: 20px;
    line-height: 18px;
    font-size: 14px;
    color: #9e4f68;
    border: 1px solid #9e4f68;
    margin-right: 5px;
    padding: 0 5px;
    font-weight: normal;
    transition: all 0.3s;
}
.show-ydnews .messinfo .dlwz span.ydbtn a:hover {
    color: #fff;
    border: 1px solid #9e4f68;
    background: #9e4f68;
}
.show-ydnews .messinfo .jyinfos {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 120px;
    max-height: 150px;
    line-height: 30px;
    font-size: 13px;
    /*color: #596657;*/
    margin-top: 30px;
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
.show-ydnews .btbox{
	position:relative;
	width: 100%;
	height: 45px;
	padding-top: 20px;
	overflow: hidden;
}
.show-ydnews .btbox.show{
	margin-top: 5px;
}
..show-ydnews .btbox.biaoqian{
	height: 25px;
	margin-top: 15px;
}

.show-ydnews .btbox li{
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
	overflow: hidden;
	margin-right: 5px;
	border-radius:13px;
	transition: all 0.3s;
	margin-left: 0px;
	padding: 0 2px;
}
.show-ydnews .btbox li:hover{
	width: 85px;
	background: rgba(0,0,0,.1);
}
.show-ydnews .btbox li i{
	float: left;
	width: 25px;
	height: 25px;
	font-size: 18px;
	color: #9e4f68;
	line-height: 25px;
	padding-left: 0px;
	transition: all 0.3s;
}
.show-ydnews .btbox li .zi1{
	position: absolute;
	width: 70px;
	height: 25px;
	top: 0;
	left: 26px;
	font-size: 12px;
	line-height: 25px;
	color: #9e4f68;
	transition: all 0.3s;
}
.show-ydnews .btbox li.click{	
	width: auto;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #596657;
	top: 0;
	right: 0;
	text-align: center;
}
.show-ydnews .btbox li:hover.click{
	width: auto;
	background: rgba(0,0,0,.0);
}

/*分页*/
.all-pages{
	padding:0;
	text-align: center;
	padding: 10px 0;
}
.all-pages li,.all-pages a,.all-pages span{
	display: inline-block;
	width: 25px;
	height: 25px;
	/*border-radius: 50%;*/
	background: #f1f1f1;
	border:1px solid #c90800;
	line-height: 23px;
	font-size: 14px;
	margin:2px;
	vertical-align: middle;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: #c90800;
	border-radius: 2px;
}
.all-pages a{
	border:1px solid #7bccc5;
	color: #7bccc5;
}
.all-pages a.prev,.all-pages a.next{
	font-size: 20px;
	line-height: 25px;
	font-family: "宋体";
}
.all-pages li{
	display: block;
	color: #c90800;
}
.all-pages a:hover,.all-pages span.current{
	background: #27c8a3;
	border:1px solid #27c8a3;
	color: #fff;
}
.all-pages li:hover a,.all-pages li.active a{
	color: #fff;
}
.all-pages a.prev span,
.all-pages a.next span{
	display: inline-block;
	width: 12px;
	height: 12px;
	border:1px solid #27c8a3;
	border-top: 0;
	border-right: 0;
	margin-top: -3px;
	background: rgba(255,255,255,.0);
	
}
.all-pages a:hover.prev span,
.all-pages a:hover.next span{
	display: inline-block;
	width: 12px;
	height: 12px;
	border:1px solid #fff;
	border-top: 0;
	border-right: 0;
	margin-top: -3px;
	background: rgba(255,255,255,.0);
}
.all-pages a.prev span{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left:7px;
}
.all-pages a.next span{
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin-right: 7px;
}

.pagination{
	padding:0;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.pagination li{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 13px;
	margin: 0 2px;
}
.pagination li.active span{
	color: #fff;
	background: #953656;
	border:1px solid #953656;
}
.pagination a,.pagination span{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #847a73;
	line-height: 23px;
	font-size: 14px;
	font-family: "微软雅黑";
	vertical-align: middle;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: #fff;
	border-radius: 2px;
	border:1px solid #847a73;
}
.pagination a{
	border:1px solid #847a73;
	color: #fff;
}
.pagination a.prev,.pagination a.next{
	font-size: 20px;
	line-height: 25px;
	font-family: "宋体";
}
.pagination a:hover,.pagination span.current{
	background: #953656;
	border:1px solid #953656;
	color: #fff;
}
.pagination li:hover a,.pagination li.active a{
	color: #fff;
}
.pagination li:first-child span,
.pagination li:first-child a{
	font-size: 26px;
	font-family:"宋体";
}
.pagination li:last-child a,
.pagination li:last-child span{
	font-size: 26px;
	font-family:"宋体";
}
/*分页结束*/

/*页面鼠标图像*/
.mouse{
	position: absolute;
	width: 30px;
	height: 45px;
	bottom: 0px;
	left: calc(50% - 15px);
	z-index: 3000;
	transition: all 0.8s ease;
	opacity: 0;
}
.mouse.active {
    opacity: 1;
    bottom: 35px;
}
.mouse.activex {
    opacity: 1;
    bottom: 3px;
}
.mouse-icon {
    position: absolute;
    width: 24px;
    height: 35px;
    bottom: 10px;
    left: 50%;
    margin-left: -12px;
    border: 2px solid #fff;
    border-radius: 7px;
    z-index: 111;
    overflow: hidden;
}
.mouse-icon span {
    display: block;
    width: 2px;
    height: 6px;
    position: absolute;
    background: #fff;
    left: 50%;
    margin-left: -1px;
    top: 10%;
    -webkit-animation: mouseShow 1s ease-out infinite;
    -o-animation: mouseShow 1s ease-out infinite;
    animation: mouseShow 1s ease-out infinite;
}

@-webkit-keyframes mouseShow {
	0%{
		top: 10%;
		opacity: 1;
	}
	100%{
		opacity: 0;
		top: 80%;
	}
}
@-o-keyframes mouseShow {
	0%{
		top: 10%;
		opacity: 1;
	}
	100%{
		top: 80%;
		opacity: 0;
	}
}
@-moz-keyframes mouseShow {
	0%{
		top: 10%;
		opacity: 1;
	}
	100%{
		top: 80%;
		opacity: 0;
	}
}
@keyframes mouseShow {
	0%{
		top: 10%;
		opacity: 1;
	}
	100%{
		top: 80%;
		opacity: 0;
	}
}


/*外语版*/
.lagnva{
	position: absolute;
	width: calc(100% - 30px);
	height: 30px;
	right: 120px;
	top: 50%;
	margin-top: -15px;
	text-align: right;
	z-index: 5000;
}
.lagnva li{
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	line-height: 30px;
	color: #948e8a;
	padding: 0 20px;
	transition: ALL 0.3S;
}
.lagnva li:HOVER{
	color: #9e4f68;;
}

.lagbottom{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: rgba(255,255,255,.5);
	text-align: center;
}


@media (max-width:1441px){
	.topbox {
	    height: 65px;
	}
	.topbox .rig-box {
	    right: 20px;
	    padding-left: 5px;
	}
	
	.nav_menu3 li {
	    width: 120px;
	}
	.nav_menu3 > ul > li > a {
	    line-height: 65px;
	}
	.nav_menu3 ul ul li a {
		width: 120px;
	}
	.nav_menu3 > ul > li .mbtbox .tzibox {
	    height: 35px;
	    font-size: 14px;
	    padding-top: 1px;
	}
	.nav_menu3 > ul > li .mbtbox .icobox {
	    width: 36px;
	    height: 38px;
	}
	.toplang {
	    right: 21px;
	}
	.allrightbox li p {
	    width: 35px;
	    left: 24px;
	    font-size: 12px;
	}
	.lmtcbox .loadbox,
	.lmtcbox .newtcbox,
	.lmtcbox .new-fstcbox,
	.lmtcbox .pictcbox{
		max-width: 1250px;
	}
	
}


@media (max-width:1367px){
	.topbox {
	    height: 60px;
	}
	.topbox .logobox {
	    left: 20px;
	    top: 15px;
	    height: 50px;
	}
	.nav_menu3 {
	    right: 110px;
	}
	.nav_menu3 li {
	    width: 100px;
	     height: 40px;
	}
	.nav_menu3 > ul > li > a {
	    line-height: 60px;
	}
	.nav_menu3 ul ul li {
	  	height: 30px;
	}
	.nav_menu3 ul ul li a {
		padding: 5px;
		width: 100px;
		font-size: 13px;
	}
	.nav_menu3 > ul > li .mbtbox {
	    font-size: 15px;
	}
	.allrightbox {
	    width: 55px;
	}
	.allrightbox li {
	    width: 25px;
	    height: 25px;
	}
	.backtop.active {
	    width: 25px;
	    height: 25px !important;
	}
	.allrightbox li i {
	    width: 25px;
	    line-height: 25px;
	    height: 25px;
	    left: 0;
	    top: 0px;
	    font-size: 16px;
	}
	.allrightbox li p {
	    width: 30px;
	    left: 20px;
	    font-size: 12px;
	    top:0px;
	}
	.tjnewsbox .leftbox .newstitle {
	    font-size: 14px;
	}
	.tjnewsbox .leftbox .newsinfo {
	    font-size: 12px;
	}
	.tjnewsbox .rightbox li .nrbox .centerb h1 {
	    font-size: 14px;
	}
	.tjnewsbox .rightbox li .nrbox .centerb span {
	    font-size: 12px;
	}
	.bootom1 .nrbox{
		max-width: calc(100% - 40px);
	}
	.bottom2 .cenbox {
	    max-width: calc(100% - 40px);
	}
	.shows_topban .cennr {
	    max-width: 1200px;
	}
	.mouse-icon {
	    width: 20px;
	    height: 30px;
	    margin-left: -10px;
	    border-radius: 5px;
	}
	.lmtcbox .loadbox,
	.lmtcbox .newtcbox,
	.lmtcbox .new-fstcbox,
	.lmtcbox .pictcbox{
		max-width: 1150px;
	}
}
@media (max-width:1025px){
	.topbox .logobox {
	    left: 10px;
	    top:20px;
	    height: 43px;
	}
	.allrightbox.active {
	    display: none;
	}
	.topbox .rig-box {
	    right: 10px;
	}
	.topbox .logo {
	    left: 10px;
	}
	.toplang {
	    right: 11px;
	}
	.nav_menu3 {
	    width: calc(100% - 280px);
	    right: 100px;
	}
	.nav_menu3 > ul > li .mbtbox .icobox {
	    width: 30px;
	    height: 30px;
	}
	.nav_menu3 > ul > li .mbtbox .icobox.active {
	    height: 26px;
	}
	.nav_menu3 > ul > li .mbtbox .tzibox {
	    font-size: 13px;
	}

	.nav_menu3 li {
	    width: 85px;
	}
	.nav_menu3 ul ul li a {
		width: 85px;
		padding: 5px;
	}
	
	.tjnewsbox .leftbox .newstitle {
	    height: 20px;
	    font-size: 16px;
	    line-height: 20px;
	    margin-top: 5px;
	}
	.tjnewsbox .leftbox .newsinfo {
	    height: 40px;
	    font-size: 12px;
	    line-height: 20px;
	    margin-top: 15px;
	}
	.tjnewsbox .leftbox .newsinfo .line {
	    width: 2px;
	    height: 33px;
	    margin-top: -15px;
	}
	.tjnewsbox .leftbox .picbox {
	    height: calc(100% - 190px);
	}
	.tjnewsbox .rightbox li .nrbox .centerb span {
	    height: 40px;
	    font-size: 12px;
	    line-height: 20px;
	    margin-top: 0px;
	}
	.tjnewsbox .rightbox li .nrbox .centerb h1 {
	    font-size: 14px;
	}
	.tjnewsbox .rightbox li .nrbox .rightb {
	    font-size: 20px;
	    width: 75px;
	}
	.tjnewsbox .rightbox li .nrbox .rightb .jt {
	    margin-top: 10px;
	}
	.tjnewsbox .rightbox li .nrbox .centerb {
	    width: calc(94% - 75px);
	}
	.tjnewsbox .leftbox .data {
	    font-size: 20px;
	}
	.bootom1 {
	    height: 155px;
	}
	.bootom1 .nrbox .left {
	    width: 80px;
	}
	.bootom1 .nrbox .cenbox {
	    left: 100px;
	    padding-left: 20px;
	}
	.bootom1 .nrbox .cenbox {
	    left: 100px;
	    padding-left: 20px;
	}
	.bootom1 li {
	    padding-right: 35px;
	    font-size: 12px;
	}
	.bootom1 .nrbox .cenbox .lxinfo {
	    line-height: 20px;
	}
	.bootom1 .nrbox .ewmbox .ewm {
	    height: 85px;
	}
	.lmtcbox .loadbox,
	.lmtcbox .newtcbox,
	.lmtcbox .new-fstcbox,
	.lmtcbox .pictcbox{
		width: calc(100% - 20px);
	}
}

/*@media screen and (max-width: 900px) and (min-height: 800px){
	.allhzsb{
		display: block;
	}
}}
@media (max-width:950px){
	.allhzsb{
		display: block;
	}
}
*/
@media (max-height:580px){
	.quanpi{
		display: block;
	}
}
@media (max-width:950px){
	.quanpi{
		display: block;
	}
}

